[2022-07-12 22:30] technosophos commented on #629
I do like the idea of prerequisites. And I am not sure it's any riskier than the build command (which could equally be hijacked to do dastardly deeds)

[2022-07-12 23:09] technosophos opened #631 "`spin up` returns an error with a trivial Grain module that works on Wasmtime"
With the latest version of Grain, I get a Spin error with even the most trivial programs. (wasmtime works fine)

[code]

`main.gr`:
[code]

`spin.toml`:
[code]

Wasmtime:
[code]

Spin:

[code]

[2022-07-12 23:18] technosophos commented on #631
Incidentally, using the `--release` flag on the Grain compiler seems to have fixed this issue. I am guessing that this may have to do with de-duplicating imports

[2022-07-13 10:00] miketang84 opened #634 "Could we use `sleep` in the http/redis trigger handler?"
Hi, Could we use `sleep` in the http/redis trigger handler? I see that we don't use `async` in the rust sdk, so if we use the `std::sleep`, shall it block the underlying tokio thread, rather merely the tokio task?

[2022-07-13 15:37] lann commented on #629
Or simpler: some kind of `notes` field that will just be printed on template instantiation. At least for _our_ templates we could point at TinyGo et al there.

[2022-07-13 15:42] technosophos opened #637 "`spin templates list` is returning an error"
I have a bunch of Spin templates added from both Git and local directories. When I run `spin templates list`, I get the following:

[code]

If I look in the indicated location, I don't see a `metadata` file, either:

[code]

[2022-07-13 15:43] lann commented on #634
Wasm modules themselves do not yet support async calls (it is planned!), so everthing _within_ a Spin app is synchronous. `std::thread::sleep` does work.

[2022-07-13 19:34] adamreese opened #638 "Integration tests for go sdk does not terminate the spin process"
Integration test for Golang starts a spin instance that doesn't get shutdown.

https://github.com/fermyon/spin/blob/main/sdk/go/integration_test.go#L75

[2022-07-13 19:46] itowlson commented on #637
I wonder if your local source contained a `/templates/target` directory which was a build output but got blindly copied by the installer, though I _think_ that would result in a decorated name (but maybe not if there was no template manifest?).  We should:

1. Add some checks at install time and copy only directories that contain valid-ish templates.
2. Not fail on non-template-ish directories in

[2022-07-13 20:53] itowlson commented on #637
Seems like it should be decorating all names; I wonder if something got built in the `/templates` dir somehow and created `target` that way.

[2022-07-13 22:21] lidongjies commented on #614
Hi @itowlson, can I pick this up?

[2022-07-13 22:47] itowlson commented on #614
@lidongjies That would be great - thanks!

[2022-07-14 02:04] technosophos commented on #637
I just discovered that the `target/` directory was created automatically by another tool, running a command that should have been a no-op.

[2022-07-14 02:09] itowlson commented on #637
Awesome, thanks.  I've want to prevent installing a bad template (besides I've already written the code for it); the work to pass airily or glibly over a bad directory is in progress.

[2022-07-14 16:13] FrankYang0529 commented on #554
Hi, I would like to take this after # 618 is merged. Thank you.

[2022-07-14 16:21] bacongobbler opened #641 "installable via apt"
As a user, I'd love to install the spin CLI similar to how I'd install other packages.

Something similar to

[code]

(note: this is a very similar experience for HashiCorp's installation instructions for `nomad`, `consul`, `vault`, etc.)

[2022-07-14 20:03] #605 closed

[2022-07-14 20:08] #637 closed

[2022-07-14 21:04] #638 closed

[2022-07-15 01:23] radu-matei opened #643 "Intermediate C SDK to simplify interop / FFI with other languages"
Spin currently supports two language SDKs — Rust and Go.
While the two SDKs have feature parity, the way they are implemented is _very_ different:

- the Rust SDK is directly built on top of _Rust_ bindings generated by https://github.com/bytecodealliance/wit-bindgen, with a [thin layer of macros on top](https://github.com/fermyon/spin/blob/main/sdk/rust/macro/src/lib.rs) to simplify writing an en

[2022-07-15 01:26] radu-matei commented on #641
I'd expand the scope of this and suggest we look at supporting package managers for macOS and Window as well.

[2022-07-15 21:02] aykevl commented on #624
For those interested, this issue was probably caused by a CGo refactor that made it a bit more strict: https://github.com/tinygo-org/tinygo/pull/2774

[2022-07-16 00:03] elewis787 commented on #573
Making decent progress on this. I am able to construct the HTTP handler flow and call the function using spin (simple test to set response header/status) . I am now working on translating the spin C http objects to zig.  I am working on this in my spare time so I don't have a hard timeline but I am hoping to get this finalized over the next few days. .

[2022-07-18 07:37] Mossaka commented on #643
I certainly agree that building language SDKs out of the generated C bindings would be extremely hard to maintain.

In addition to the proposed intermediate C SDK idea, I want to offer some alternatives:
1. Contributing to `wit-bindgen` to add more language bindings is the obvious and ideal way, but it's cost to engineering efforts is no joke. I would be willing to contribute to wit-bindgen to sup

[2022-07-18 12:12] squillace commented on #643
I also support your move, but I, too, would suggest we collaborate as a community to add go bindings to wit-bindgen. I get the problem, however.

[2022-07-18 15:53] squillace commented on #643
sounds great to me.

[2022-07-18 15:55] lann opened #650 "Make `spin --version` more obvious at unreleased commits"
For example, with recent checkout of Spin `spin --version` gives: `spin 0.4.0 (7404232 2022-07-15)
`. For someone not already familiar with this it isn't obvious that this includes code committed _after_ the `0.4.0` release.

[2022-07-18 15:59] radu-matei commented on #650
I agree.
I've also seen the convention to append `-dirty` (or perhaps something a bit more pleasant-sounding) if there are local changes that have not been committed, which I liked because it made it even more obvious that you have local changes.

[2022-07-18 15:59] lann commented on #650
[This issue on the semver repo](https://github.com/semver/semver/issues/701) suggests bumping the patch version immediately after a release and adding a prerelease tag, e.g. `0.4.1-beta.0`. As noted in the comments, its a little annoying that version `0.4.1` may never actually be released, but maybe it's still the least-bad option.

[2022-07-18 16:02] lann commented on #650
I guess you could also then bump the minor revision as soon as you have incompatible changes - bumping the version to `0.4.0-something` with the wasmtime upgrade would have made sense.

[2022-07-18 17:01] Mossaka commented on #643
That is a good point! Do you have a list of languages you want to support in mind? I would suggest adding as much mainstream languages as possible: C#, Js (Ts), Python, Java, Swift, and C++

[2022-07-19 16:19] fibonacci1729 opened #653 "Allow config interpolation in environment variable section of spin.toml"
Currently "config variables" are confined to a component's config section. We should support config expansion in a component's environment section as well (perhaps elsewhere TBD)

[2022-07-20 09:33] tzutoo opened #654 "Build failed following Spin quickstart document"
OS: Windows 11 Professional
cargo --version
cargo 1.62.0 (a748cf5a3 2022-06-08)

Steps to reproduce:
$ git clone https://github.com/fermyon/spin -b v0.4.0
$ cd spin
$ rustup target add wasm32-wasi
$ cargo install --path .

Error message:
`error[E0308]: mismatched types
   --> src\commands\deploy.rs:181:13
    |
181 |             ChannelRevisionSelectionStrategy::UseRangeRule,
    |             ^^^

[2022-07-20 19:46] itowlson commented on #654
There's a known issue with `cargo install` where it doesn't pick up the lockfile so can use the wrong version of dependencies.  The workaround is to use `cargo install --locked`.  Please let us know if that still doesn't work though!

[2022-07-20 19:47] itowlson commented on #654
(Or do `cargo build --release`, which _does_ respect the lockfile, but doesn't put it on your PATH.)

[2022-07-21 01:03] charliethacker commented on #654
I had the same issue and cargo build --release,  worked for me on windows 11 and on WLS.

[2022-07-21 22:46] tzutoo commented on #654
`cargo install --locked` reported the following error:
Using `cargo install` to install the binaries for the package in current working directory is no longer supported, use `cargo install --path .` instead. Use `cargo build` if you want to simply build the package.

`cargo build --release` worked for me!

[2022-07-22 06:51] elewis787 commented on #573
quick update - working through a few more items for the http components and translations but here is a quick sample/sneak peak that is at least in a MVP state.

[code]

I've been playing around with a few zig http libs to see if I could avoid some of the underlying socket reliance. For now I have landed on writing a simple http package ... it will not be fully featured but it should cover the basi

[2022-07-22 13:46] dicej opened #657 "Add C++ SDK"
Per #78, we now have an example of writing a spin-http component in C++, but as of this writing it uses the `wit-bindgen`-generated C API, which does not lend itself to idiomatic, modern C++.  It would be nice to have a proper SDK for C++ which uses e.g. std::string, std::tuple, std::optional, etc. for interface types.

[2022-07-22 20:09] Mossaka commented on #657
With #643 been discussed, would you like to prioritize the intermediate C SDK work first and then build C++ SDK out of it, or this is in parallel to that work?

[2022-07-22 22:01] dicej commented on #657
I would prioritize #643 first since that's likely to be a more stable platform for building a C++ SDK than the `wit-bindgen`-generated bindings.

[2022-07-25 04:43] itowlson opened #658 "Missing protocol in `allowed_http_hosts` gives misleading error at runtime"
Create a `spin.toml` with the following:

[code]

Now make an outbound HTTP call to `https://spin.fermyon.dev`.

It fails with error 2, "invalid URL."

This happens because the allow checks attempts to parse all allowed hosts as URLs, and in this case fails with "relative URL without base".  This is mapped to the InvalidUrl error from `http-types.wit` at https://github.com/fermyon/spin/blob/b54bb8

[2022-07-25 05:34] lidongjies commented on #658
Need to do the same check for allowed_http_hosts before pushing to bindle server?

[2022-07-25 15:15] fibonacci1729 opened #660 "Recognize `.env` for config in dev/testing"

[2022-07-25 15:16] fibonacci1729 opened #661 "Add `vault` config provider"

[2022-07-25 19:50] itowlson commented on #658
That's a good idea.  We could (and probably should) do it when loading from a bindle, but at that point it's unfixable...

[2022-07-26 00:53] Mossaka commented on #658
Do we have any forms of manifest verification in load time? I am happy to take this task.

[2022-07-26 01:14] Mossaka commented on #658
Figuring out at which layer to validate would be hard. I would improve the error messages for this issue and leave a more proper validation infras to be designed later.

[2022-07-26 03:46] itowlson opened #663 "Outbound HTTP component ignores `params` field"
`http-types.wit` defines the `request` type to have a member `params` which is documented as `// The HTTP parameter queries, represented as a list of (name, value) pairs.`

If you set this on an outbound request, it is ignored - no query string is included the URL.

We should either respect `params`, or remove it from the outbound request type.

[2022-07-26 04:19] itowlson opened #664 "`spin up --help` from directory containing HTTP app prints wrong binary name"
[code]

(This is with a local compile from HEAD, not a release.)

[2022-07-28 18:37] bacongobbler opened #665 "where does spin install templates?"
I ran `spin templates install --git https://github.com/fermyon/spin --branch main --update`, and I want to find out where those templates were installed. All I received at the end of the command was

[code]

I could not find them in `$HOME/.spin`.

[2022-07-28 18:43] bacongobbler opened #666 "`spin up`: hot reload when component files change"
As a user of [bartholomew](https://github.com/fermyon/bartholomew), I'd like `spin up` to reload when I change any of the site's content.

For comparison, here's `hugo server`: https://gohugo.io/commands/hugo_server/

If this should be rejected in favour of `bartholomew` introducing its own `serve` command, that's okay too.

[2022-07-28 18:53] radu-matei commented on #666
ref #148, #324

As a workaround, we have been using a script similar to this for watching changes and restarting — let me know if this doesn't satisfy your current use case.

 https://github.com/fermyon/spin/blob/e5b4a8dc536d874498e1f3bed274519ff413b066/docs/package.json#L33-L36

[2022-07-28 20:11] itowlson commented on #665
They are under `$XDG_DATA_HOME/spin/templates` now, or the equivalent on other OSes per https://docs.rs/dirs/latest/dirs/fn.data_local_dir.html.

[2022-07-28 20:53] bacongobbler commented on #666
Thanks. Closing as a duplicate of #148.

[2022-07-28 20:53] #666 closed

[2022-07-30 06:02] radu-matei opened #667 "Reuse connection in outbound PosgreSQL implementation"
The outbound Redis implementation currently creates a new connection for each operation: https://github.com/fermyon/spin/blob/360ad620543baa26bf96f76c4ed596894fb73024/crates/outbound-redis/src/lib.rs#L45-L57

Ideally, when using the same connection multiple times in the same module, the underlying connection would be reused. This means (I suspect) introducing a resource field for the connection, a

[2022-07-30 06:04] radu-matei opened #668 "Add `increment` function in outbound Redis implementation"
`incr` is a fairly popular operation with Redis — https://redis.io/commands/incr/

There are obvious scenarios where this could be used, particularly with atomic counters, and it would be great if the outbound Redis host component implemented this.

[2022-08-01 04:45] elewis787 commented on #573
Quick update - running into an issue when setting headers on the response object.

Trace output
[code]

I am still working on identifying what is causing the out of bounds error. My potentially naive thought is this could be a pointer alignment issue between zig/c but I haven't been able to prove that.

Here are some thoughts/comments
- By adding debug messages to the c bindings, I have been able

[2022-08-01 04:51] itowlson commented on #573
Is it worth sharing what you have, either as a link to your branch or as a draft PR, in case anyone else wants to try to reproduce/help understand?  (Not trying to press you, just a thought.)

[2022-08-01 05:22] elewis787 commented on #573
Absolutely - the branch I am working off is - https://github.com/elewis787/spin-zig/tree/elewis-http-impl

I will push a quick readme for building / running the example.

[2022-08-01 15:04] lann commented on #663
We should consider removing it entirely (moving it into SDKs); param parsing can be subtly different in different languages.

[2022-08-01 15:45] radu-matei commented on #663
One thing to consider if removing is that we are reusing the HTTP request and response type definitions across the HTTP trigger and the outbound HTTP implementation.

[2022-08-01 15:51] lann commented on #663
Yeah, I'm suggesting removing it from everywhere. Using url form encoding for params is "just" a (very common) convention.

[2022-08-01 20:18] #664 closed

[2022-08-02 21:34] #554 closed

[2022-08-03 13:11] miketang84 commented on #668
So, will we end up introducing the whole redis command set into this part of host component?

[2022-08-04 10:53] karthik2804 commented on #591
@deepto98 Just wanted to check in with you if you were still working on this issue.

[2022-08-04 13:17] radu-matei opened #672 "Cannot run simple unit test with default Rust template"
The default Rust template for a Spin application sets the default build target in `.cargo/config.toml` as `wasm32-wasi`:

[code]

This make sense in order to ensure `cargo build` creates a module that Spin can run, but this means that a simple unit test that purely wants to test some logic in the handler cannot be run:

- with a regular `cargo test`, this fails because it would try to instantiate

[2022-08-04 13:40] radu-matei commented on #222
I have been reconsidering this over the last few weeks, and I think a reasonable experience would be something similar to:

[code]

Expanding on this, a single function marked as the entry point, and the ability to easily extract path segments into parameters that can be passed to functions that would handle those requests.

[2022-08-04 13:57] radu-matei opened #673 "Improve SDKs for building REST APIs"
Building REST APIs is a (very) common use that we want to support with Spin.
Ideally, we want the SDKs to help users build them, and simplify operations such as:

- routing based on the HTTP method
- extracting path segments
- show examples for serialising / deserialising bodies
- connect to external data sources

(There is a fine line between reimplementing an entire HTTP framework and basic help

[2022-08-04 20:24] radu-matei opened #674 "Spin SDK should use new outbound HTTP implementation based on the component model"
Currently, the Spin SDK for Rust uses the old ["WASI experimental HTTP" implementation](https://github.com/deislabs/wasi-experimental-http) as the default option for sending HTTP requests.

https://github.com/fermyon/spin/blob/391f3fb8eb8deddbed40cd42957734b3dd6bc37c/sdk/rust/src/lib.rs#L9

The Rust SDK should use the same HTTP from https://github.com/fermyon/spin/tree/main/crates/outbound-http by

[2022-08-04 20:50] Crell commented on #654
I had the exact same experience as @tzutoo.  `cargo build --release` worked, `cargo install --locked` gave me an error to use the line from the docs instead (which also failed as in the OP).

[2022-08-04 21:04] vdice commented on #654
Thanks @Crell and @tzutoo for relaying your experiences here.

@itowlson how do you think we might update the problematic section in the docs, seeing as the potential workaround of `cargo install --locked` also may lead to errors?

[2022-08-04 21:18] itowlson commented on #654
Yeah we should update it to `cargo install --locked --path .` (though waiting on user confirmation that this worked for them as well as for me!).  Sent #676.

[2022-08-04 21:21] vdice commented on #654
Thanks, @itowlson !

[2022-08-04 21:24] Crell commented on #654
`cargo install --locked --path .` works for me as well.

So it seems the error message for just using `cargo install --locked` is misleading, as it doesn't include the switches you used in its "use this instead" directive.  So the fix for the docs is probably just adding `--locked` to the current command, as @itowlson's PR does.

[2022-08-04 21:26] #654 closed

[2022-08-04 21:31] kate-goldenring commented on #626
Hey @vdice and @fibonacci1729. I am happy to take this one on.

[2022-08-05 10:33] FrankYang0529 commented on #222
Probably, it's good to put HTTP method together. Like `match (<METHOD>, <PATH>) {}`. I am curious how we get HTTP method and path information in the current implementation? Thank you.

[2022-08-05 16:24] #668 closed

[2022-08-08 00:43] #658 closed

[2022-08-08 13:15] FrankYang0529 commented on #672
This is similar to what I encountered in https://github.com/fermyon/spin-fileserver/pull/15. Probably, we can use `cargo test --target=$$(rustc -vV | sed -n 's|host: ||p')` as @lann mentioned in https://github.com/fermyon/spin-fileserver/pull/15#issuecomment-1190355203.

[2022-08-10 16:02] FrankYang0529 commented on #599
I would like to take this, but I have one question: which GitHub account should we use to commit in [step 7](https://spin.fermyon.dev/release-process)? Thank you.

[2022-08-10 17:08] vdice commented on #599
@FrankYang0529 Excellent!  Which GH action are you thinking of using?  Can we utilize the usual/default `secrets.GITHUB_TOKEN` for creating a Pull Request from an action?

[2022-08-10 18:14] damianesteban opened #679 "Installing templates from repository does not install all templates"
I was taking a look at this tutorial [here](https://www.fermyon.com/blog/spinning-with-swift) and I ran:

[code]
then:
[code]
and received the following error:
[code]

I see it in the repo, is there a way I manually install it?

[2022-08-10 19:18] vdice opened #680 "Bug: spin deploy doesn't appear to update the app with the correct bindle ID"
I'm seeing incorrect and indeterministic behavior when using `spin deploy` (spin built from HEAD as of writing; `spin 0.4.0 (10fb784 2022-08-10)`).  I've installed the Fermyon platform using the [AWS Quickstart](https://www.fermyon.dev/quickstart-aws).

### Issue
When following the [docs on re-deploying a Spin app](https://github.com/fermyon/installer/blob/main/deploy.md#deploying-new-versions-of-

[2022-08-10 20:01] fibonacci1729 commented on #679
@damianesteban Are you running a released version (and if so what version) or did you build from main?

[2022-08-10 21:11] vdice commented on #680
I see we have a PR in Spin that updates to use the latest release of Hippo: https://github.com/fermyon/spin/pull/678.  I'll give this a whirl to see if the behavior continues.

[2022-08-10 22:49] vdice opened #683 "Feat: Update existing Hippo app on each spin deploy"
Currently, it appears that spin [deletes the Hippo app](https://github.com/fermyon/spin/blob/10fb784060a473aba7e3fc8fc226ddb6e6f4fc1a/src/commands/deploy.rs#L165) on each new `spin deploy` invocation for a given Spin app.

I'd propose this causes unecessary churn at the Nomad level, because each time a Hippo app is created, a new Nomad job is created.  With repeated deploys of the same Spin app, t

[2022-08-11 00:08] bacongobbler commented on #680
I have a hunch why this happens.

`spin deploy` appends version build metadata to the version number. For example, `0.1.0` in spin.toml becomes `0.1.0+qf354d23`.

When Hippo is told to [use a wildcard range rule](https://github.com/fermyon/spin/blob/10fb784060a473aba7e3fc8fc226ddb6e6f4fc1a/src/commands/deploy.rs#L180-L181), Hippo [sorts revisions](https://github.com/deislabs/hippo/blob/f3ea1c82642

[2022-08-11 14:12] damianesteban commented on #679
Version:

[code]

[2022-08-11 14:41] FrankYang0529 commented on #599
I would like to use [git-auto-commit-action](https://github.com/stefanzweifel/git-auto-commit-action). Let me check whether I can use `GITHUB_TOKEN`.

[2022-08-11 15:59] fibonacci1729 commented on #679
@damianesteban I believe if you do `spin templates install --branch main --git https://github.com/fermyon/spin` you will pick up the newest templates included after `0.4.0`.

[2022-08-11 18:42] vdice commented on #680
Thanks @bacongobbler.  I'm inclined to favor either of the latter two options in this case (though wouldn't be opposed to also adding a timestamp at some point as this isn't necessarily mutually exclusive).  For this `spin deploy` scenario where a specific bindle ID is known, it makes sense to me to have Hippo update the app with this exact revision, rather than having Hippo attempt to sort/order.

[2022-08-11 20:01] #626 closed

[2022-08-11 21:59] vdice commented on #680
A quick note to mention I've added a 'Workaround' section to the OP to inform users how to avoid this behavior pending the fix.

[2022-08-11 22:02] kate-goldenring commented on #680
I can take this one on. @vdice what is the "OP"?:

[2022-08-11 22:03] vdice commented on #680
Oops, Original Post aka the issue description above.

[2022-08-12 03:55] tpmccallum opened #686 "Add twitter card to spin documentation"
A user Tweeted about trying Spin via the official docs. Image in the Tweet seems generic and it would be awesome to see a Spin logo etc. in their Tweet.

Here is what the Tweet currently shows.

<img width="611" alt="Screen Shot 2022-08-12 at 1 51 16 pm" src="https://user-images.githubusercontent.com/9831342/184282244-a3b5f533-7cff-4d50-9558-b469d4091f31.png">

[2022-08-15 00:27] damianesteban commented on #679
Yes that works. Thank you.

[2022-08-15 00:27] #679 closed

[2022-08-15 20:29] itowlson opened #688 "Could `spin build` propagate text colour?"
When I do a build using the actual tool, I get errors and warnings in red and yellow - they jump out at me and make it clear something's gone wrong.

When I use `spin build`, they are displayed in white, same as the other text.  Unless the message is very large, it (and the summary, and the "Build command failed" message) get lost in the noise of build progress messages.

Would it be possible to p

[2022-08-16 03:10] radu-matei commented on #620
@vdice — is there anything we need to track from this issue, or can we close it?

Thanks!

[2022-08-16 03:16] radu-matei opened #689 "Update Bindle dependency to latest stable release"
ref #180, #191

Currently in Spin we are using Bindle v0.8.0.
There is a [new release candidate for Bindle](https://github.com/deislabs/bindle/releases/tag/v0.9.0-rc.1) that would help us address #180 — however, in updating it we will encounter a few breaking changes, most notably required signing of packages when publishing, and verification when pulling (see release notes).

This issue tracks th

[2022-08-16 03:16] radu-matei commented on #191
Closing in favor of #689

[2022-08-16 03:16] #191 closed

[2022-08-16 03:30] radu-matei commented on #688
After looking into this a bit more, this is not controlled by `spin build` — for example, try running the command for the Rust example in this repository and you will see the coloured output.

Rather, I think it is dependent on the external command `spin build` is calling, and whether _it_ makes additional checks that disable colours.

(for example, .NET tooling checks whether the output has been

[2022-08-16 03:30] #688 closed

[2022-08-16 03:32] radu-matei commented on #599
We have @fermybot for this if we need an account to commit to the repository.

[2022-08-16 03:34] radu-matei commented on #672
Given that all our Rust templates explicitly build to `--target wasm32-wasi`, could we remove `.cargo/config.toml` from the templates?

[2022-08-16 03:36] radu-matei commented on #222
Oh having the HTTP methods as well to match against would be great!

@fibonacci1729 had a few ideas in the past — but the change here is that we would be ok with having _a single_ function annotated with `http_component`, which I hope should simplify the implementation.

[2022-08-16 03:37] radu-matei commented on #591
@karthik2804 — I think it would be ok if you wanted to have a look at this issue.
Thanks!

[2022-08-16 03:44] radu-matei commented on #573
This is looking great, @elewis787, thanks for working on this!

[2022-08-16 03:44] radu-matei commented on #665
I think we can close this — @bacongobbler — feel free to reopen if there are other questions related to this.

Thanks!

[2022-08-16 03:44] #665 closed

[2022-08-16 03:45] radu-matei commented on #660
@fibonacci1729 — would you mind expanding a bit on the context for this issue?

Thanks!

[2022-08-16 03:53] radu-matei commented on #661
@fibonacci1729 — would you mind expanding a bit on the context for this issue?

Thanks!

[2022-08-16 03:57] radu-matei commented on #614
The fix for this issue was merged — thank you so much for your contribution, @lidongjies!

[2022-08-16 03:57] #614 closed

[2022-08-16 03:59] radu-matei commented on #615
Thank you all for the helpful responses.

Closing, but feel free to reopen if there are additional issues related to this.

Thanks!

[2022-08-16 03:59] #615 closed

[2022-08-16 04:14] elewis787 commented on #573
Thanks and no problem @radu-matei!  Been a little slow going lately with workload but I am still working on it! More to come.

[2022-08-16 13:26] radu-matei opened #693 "Include timestamps in application logs"
### Discussed in https://github.com/fermyon/spin/discussions/690

<div type='discussions-op-text'>

<sup>Originally posted by **tshepang** August 16, 2022</sup>
Here referring to logs in `~/.spin/spin-hello-world/logs`.

</div>

[2022-08-16 15:38] fibonacci1729 commented on #660
When developing / running a Spin application, it would be convenient to source a `.env` file to construct the environment constants that will be made available to the application through the environment configuration provider.

For example, in the directory containing a Spin application:

[code]

Where `some-app/.env` contains:

[code]

`FOO` will made available to the application through the SDK,

[2022-08-16 15:40] vdice commented on #620
@radu-matei thanks for the nudge -- this can be closed.

[2022-08-16 15:40] #620 closed

[2022-08-16 15:41] radu-matei commented on #660
Are these variables that you don't want to set in `spin.toml` (which might be in source control)?

[2022-08-16 15:45] fibonacci1729 commented on #661
Spin supports a [trait](https://github.com/fermyon/spin/blob/main/crates/config/src/provider.rs#L9) for accessing configuration dynamically when an application is running.

Currently, the only implementation is an [environment provider](https://github.com/fermyon/spin/blob/main/crates/config/src/provider/env.rs#L9) that will fetch from the host the environment constant associated with a key.

For

[2022-08-16 15:53] fibonacci1729 commented on #660
Yep, that is correct.

[2022-08-16 16:00] fibonacci1729 commented on #660
Unassigning myself for now as i'm not actively working on this just yet and don't want to issue squat.

[2022-08-16 16:02] kate-goldenring commented on #680
I have been debugging this a little with the goal of specifying `ChannelRevisionSelectionStrategy::UseSpecifiedRevision` when creating a channel in `spin_deploy` and am having issues discerning how to get a revision id for an recently pushed bindle. I noticed that the hippo openapi schema [requires that a revision id](https://github.com/fermyon/hippo-openapi/blob/b85cd380f1feb086e9a27e2526f49db798

[2022-08-16 16:23] kate-goldenring commented on #680
Update: I think i should be able to get the revision ID from the aptly named `Client::list_revisions(&hippo_client).await?;`

[2022-08-16 18:22] vdice commented on #680
@kate-goldenring Thanks for the detailed updates here; very helpful.  I'm also feeling a bit confused by what seems to be an overloading of the term `revision`.  We'll have to get a definitive statement from @bacongobbler once he is back, but I _think_ we may be dealing with the following:

1. Hippo uses a "revision ID" (type: UUID) to track deployed revisions of an app (eg `46b6873c-5000-40d6-833

[2022-08-16 18:59] kate-goldenring commented on #680
@vdice I did try that. It errors with `One or more validation errors occurred. {"RevisionSelectionStrategy": ["ActiveRevisionId and the specified ChannelRevisionSelectionStrategy do not match up."]}`. I believe that using `ChannelRevisionSelectionStrategy::UseSpecifiedRevision` requires an `active_revision_id` to be set [based on how channels are created in Hippo](https://github.com/deislabs/hippo

[2022-08-17 03:29] karthik2804 commented on #591
@radu-matei  I will pick this one up.

[2022-08-17 05:13] kate-goldenring commented on #686
ref https://github.com/fermyon/spin/issues/373

[2022-08-17 15:38] FrankYang0529 commented on #660
Hi @fibonacci1729 , for this feature, is it about adding a dotenv provider? Or any config from `.env` can take priority over providers so that we can check it in [get_config](https://github.com/fermyon/spin/blob/f57cf9f7b6c72956ce457a39fedccc2807573e9a/crates/config/src/host_component.rs#L30-L34) function before calling `self.resolver.resolve`?

[2022-08-17 17:01] #680 closed

[2022-08-17 21:30] fibonacci1729 commented on #660
@FrankYang0529 I think this can be as simple as:

If `.env` relative to `spin.toml` exists then source it

[2022-08-17 23:39] lidongjies commented on #693
Hi @radu-matei, Can I pick this up?

[2022-08-17 23:57] radu-matei commented on #693
Oh absolutely, @lidongjies, that would be awesome!
Let us know if there is anything we can help with, or pointing in the right direction.

Thanks!

[2022-08-18 00:43] fibonacci1729 commented on #660
@FrankYang0529 would you be interested in #661 instead? It's slightly more involved (you get to implement a config provider) but still reasonably simple.

[2022-08-18 02:44] FrankYang0529 commented on #660
@fibonacci1729 actually, I would like to take these two. If it's okay, feel free to assign them to me. 😆

I have another question for `.env`. If there is a variable in `.env` but not defined in `spin.toml`, do we allow users to get the value?

[2022-08-18 02:55] fibonacci1729 commented on #660
Great question! We wouldn't want to allow getting the value if it's not defined in spun.toml.

[2022-08-18 03:12] radu-matei commented on #686
This is a duplicate of #373, closing.

Thanks!

[2022-08-18 03:12] #686 closed

[2022-08-18 20:55] lann commented on #674
Plan as of today is to drop the `wasi-experimental-http` API.

[2022-08-18 21:26] radu-matei commented on #674
To expand on this a bit — when we started the `wasi-experimental-http` library, there wasn't anything else that we could have used.

It uses a hand-crafted WITX definition and implementation, and it has language support just for Rust (which for Spin will be superseded by addressing this issue) and AssemblyScript (for which we could consider supporting the new HTTP API in the future).

[2022-08-19 03:11] #591 closed

[2022-08-19 18:09] #674 closed

[2022-08-19 20:09] lann opened #700 "`spin build` should say if there is nothing to build"
[code]

...is a little confusing when there are no build commands to run.

[2022-08-20 14:51] jim4067 commented on #700
Would love to try hacking on this.

[2022-08-20 16:29] radu-matei commented on #700
@jim4067 — that would be great!
Here is the part in the build logic that you can start looking at — https://github.com/fermyon/spin/blob/d81a37b4b0349f7286c43c27ee5b60d202ac3426/crates/build/src/lib.rs#L12-L31

Let us know if there is anything we can help with.

Thanks!

[2022-08-21 09:39] mikkelhegn opened #704 "Better error messaging for trigger execution failures"
I was running a Spin application without an available Redis instance on the configured endpoint for the trigger:

`trigger = { type = "redis", address = "redis://localhost:6379" }`

The error message produced on a macOS was:

[code]

It would be great to add a bit more context to the error, e.g. what trigger and endpoint etc.

[2022-08-22 13:44] lann opened #706 "Flakey integration test"
We've had some transient failures of the `integration_tests::e2e_tests::test_bindle_static_assets`, e.g.:

https://github.com/fermyon/spin/runs/7900758561
https://github.com/fermyon/spin/runs/7925489356
https://github.com/fermyon/spin/runs/7925553956

[code]

Given that these are transient and all appeared on the macos build (which may be the slowest hardware), I suspect that the retry/timeout con

[2022-08-22 15:10] lann opened #708 "GitHub's Ubuntu 18 image is being deprecated"
https://github.com/actions/runner-images/issues/6002

We saw an intentional "brown-out" today which broke the release build. It looks like they are ["revising the schedule" on those due to push-back](https://github.com/actions/runner-images/issues/6002#issuecomment-1222477506), but we need to keep track of this as it impacts the Linux distro compatibility of our binary releases.

[2022-08-23 00:48] itowlson opened #710 "Config error ergonomics"
The current `spin-config` interface declares the following errors:

[code]

Working with this I ran into a couple of issues:

1. It's ambiguous what's "invalid" about an `invalid-key`.  Looking at the code it seems to mean that the key is malformed according to the syntax rules.  But many people (well, _one_ person at least) will guess that this means the key wasn't defined.  Could we rename this

[2022-08-23 00:50] itowlson commented on #710
Correction: various things can cause the internal `InvalidPath`, only one of which is the requested key not existing.

[2022-08-24 12:45] lann commented on #706
Thanks! I'll assume that will fix this.

[2022-08-24 12:45] #706 closed

[2022-08-24 12:58] #660 closed

[2022-08-24 15:46] lann opened #713 "Go docs claim SDK is still using Wagi"
We switched to spin-http in #375 but didn't update the docs.

[2022-08-24 17:51] kate-goldenring commented on #488
@michelleN, can we close this now that we have a makefile target added to simplify this from #485

[2022-08-24 20:45] #700 closed

[2022-08-25 01:18] itowlson commented on #337
What's the status of this?  I have some components in a sample that have hyphens, and was about to update them to use config...

[2022-08-25 01:23] itowlson opened #714 "What to do if required config slot not provided"
At the moment, if a config slot is marked as required, but the corresponding EV is not provided, Spin fails when getting that value.

Is it possible to fail on startup?  I guess with some providers you might not be able to tell until runtime, but with the environment provider you could...

[2022-08-25 01:34] itowlson commented on #337
Answer: adding a config section gave me an error

[2022-08-25 08:39] rajatjindal commented on #663
this is also impacting tweet embedding in `bartholomew`.

if i understand correctly, the consensus is to remove the params parameter from wit types file and make corresponding changes in sdk's?

[2022-08-25 15:05] lann commented on #337
I don't think the config system really needs this restriction any more. If we want to remove the restriction we can; it will just take some refactoring to the config `Tree` struct.

[2022-08-25 21:23] lann commented on #663
If we're removing `params` this is _not_ a good first issue.

[2022-08-25 21:28] lann commented on #663
For outbound HTTP the `params` field is currently non-functional but it looks like the query part of the request URI should be working; at least, I don't see in the code that it is being removed.

[2022-08-26 09:24] sealmove commented on #713
#717

[2022-08-28 06:36] radu-matei commented on #708
We use that for the release job — https://github.com/fermyon/spin/blob/main/.github/workflows/release.yml

Do we need to create the release binary in a container instead?

[2022-08-29 00:24] itowlson commented on #663
Current behaviour from testing:

* Inbound
  * The original query string is included in `url`
  * The `params` field is populated
* Outbound
  * If you include a query string in `url` it is preserved verbatim (as Lann predicted)
  * If you set `params` it is ignored

[2022-08-29 04:47] itowlson opened #718 "Don't allow variables containing the '.' character"
This is firmly in the "machiavellian user could shoot self in foot" category - I only encountered it because I was exploring the config code and wanted to understand the tree traversal stuff.  Priority is "wash your dog first."

If you create a variable with a "." character in it, it passes validation, but is never passed to the provider to resolve, so can't be overridden.

Keys in the `[component

[2022-08-29 14:06] lann commented on #708
:facepalm:

Yeah it might be that simple. I just saw the error and wanted to make sure this was captured.

[2022-08-29 14:13] lann commented on #663
Well that's good. I propose we:

1. Switch our SDKs to parse the query
1. Document that `params` is deprecated
1. Drop `params` the next time we make breaking changes to the http interfaces (after streams support lands, if not sooner)

[2022-08-29 20:54] bacongobbler commented on #683
hippo-cli 0.16 has been released, introducing the `patch_channel` and `put_channel` APIs. cc @kate-goldenring

[2022-08-29 21:02] #599 closed

[2022-08-29 21:13] itowlson commented on #663
I will send a PR for 1 and 2.

[2022-08-30 00:15] itowlson opened #720 "`allowed_http_hosts` requires protocol but ignores it"
If I write `allowed_http_hosts = ["https://localhost:3001"]` I can still make a request to `http://localhost:3001/` and it works.

If we are to require a protocol, shouldn't that be enforced?  I assumed this was why we required a protocol rather than just a hostname.

[2022-08-30 00:18] itowlson opened #721 "Mistakenly using `https` on outbound HTTP request results in hard-to-debug error"
I sent an outbound HTTP request to `https://localhost:3001/` when I meant to write `http://localhost:3001/`.  It failed with just `RequestError`.  There was nothing in the error or in Spin logs.  In the end I had to hack a `println!` into the Spin source to figure out what was going on.  This is a suboptimal diagnostic experience.

[2022-08-30 00:25] itowlson opened #722 "Panic if you specify `localhost:port` in `allowed_http_hosts`"
If you write `allowed_http_hosts = ["localhost:3001"]` (forgetting the protocol), then make an outbound call, the Spin worker thread panics:

[code]

This occurs because it tries to parse `localhost:3001` as `{ scheme: "localhost", host: None, port: None, path: "3001" }`.  This passes load-time validation as a syntactically legitimate (a la `urn:blah-blah-blah` scheme) though absurd URI, but crash

[2022-08-30 00:34] itowlson commented on #720
Also, any port the operator specifies is ignored, e.g. if I write `allowed_http_hosts = ["https://localhost:4444"]` then make a request to `http://localhost:3001/`, it is allowed.

This is certainly in line with the name "hosts" but maybe we should validate that no port is given, or an operator might be led into a wrong assumption about what permissions they are granting.

[2022-08-30 01:11] itowlson commented on #663
Slight correction: if you include a query string on an outbound request, _Spin_ leaves it alone.  But if you're using the Rust SDK, _that_ strips it out (before passing the request to Spin).

[2022-08-30 17:12] dicej opened #724 "Conformance test crate"
Given the recent efforts to support more languages (officially and unofficially) for Spin, it would be nice to have an "official" conformance test suite that exercises the various features of the Spin engine, such as:

- HTTP, Redis, and Timer triggers
- Outbound HTTP, Redis, and PostgreSQL
- Configuration
- The subset of WASI relevant to Spin (e.g. read-only filesystem ops, env variables, clock,

[2022-08-30 21:23] itowlson opened #725 "Provide a way for templates to rename files"
For example if generating a C# project you would ideally like the `.csproj` file to be named for the component/application.

[2022-08-30 21:51] lann commented on #721
We really should have detail strings in these error results...

[2022-08-30 21:53] itowlson commented on #721
We totally should, but that's a breaking change, so something to maybe batch up with removing `params`.  As an interim measure I was going to try logging something from Spin - open to thoughts though.

[2022-08-30 22:06] itowlson commented on #720
Proposal for this and #722:

* `allowed_http_hosts` contains a list of host names (domain names).
  * For now, we will also accept schemes for backward compatibility; as today, they will be ignored, but they are no longer required or desired.
* A port may optionally be specified with a host
  * A host may be listed multiple times with different ports.
  * If a host is listed with *no* port, then w

[2022-08-30 22:14] lann commented on #720
`587` and `2525` are other common smtp ports

[2022-08-31 06:44] mikkelhegn commented on #720
I don't think this should be enforced by Spin, but rather the infrastructure where a Spin application would eventually run. In most platforms that would be a firewall run more generally applied, and not be configured on a per-application basis.

[2022-08-31 06:46] mikkelhegn commented on #720
It would be nice if the `allowed_http_hosts` attribute would accept wildcards for protocol, domain, and port - e.g., `*://*.my.domain:*`. I think this will be particularly useful during development.

This proposal could be a separate issue :-)

[2022-08-31 22:05] dicej commented on #488
Closing this based on @kate-goldenring 's comment.  @michelleN feel free to reopen if appropriate.

[2022-08-31 22:05] #488 closed

[2022-08-31 22:08] dicej commented on #473
I think this could be a "good first issue" if we flesh it out a bit more, e.g. explaining where in the code to add context.

[2022-08-31 22:38] dicej commented on #468
I've been chatting with @lann about this and we agree that the next step is to come up with a concrete proposal to reorganize this (which may or may not involve combining directories and/or moving them to other repos.  Once we've done that and built some consensus we can implement it.

[2022-09-01 17:22] vdice commented on #683
Closed via https://github.com/fermyon/spin/pull/728 -- thank you @kate-goldenring and @bacongobbler !

[2022-09-01 17:22] #683 closed

[2022-09-01 21:20] #720 closed

[2022-09-01 21:23] itowlson commented on #722
Fixed via #727.

[2022-09-01 21:23] #722 closed

[2022-09-02 10:39] tpmccallum opened #733 "Update version in installer as part of release process"
The https://spin.fermyon.dev/release-process has a number of steps which ensure that a new release is comprehensive.

The new Spin installer [1] has the version of Spin as an environment variable (in the install.sh).

It would be great to add one more item to the checklist of the `release-process` which requests that the `install.sh`'s variable of `VERSION="vx.x.x"` is updated as part of the relea

[2022-09-02 18:45] vdice opened #736 "Release: Solution for automated template updates and tag"
We've added some really nice automation (thank you @FrankYang0529!)  for updating the spin templates on a new release and having our ci bot push the resulting commit.

Alas, unfortunately, the DCO bot check that is required as part of our branch protections will fail, as it doesn't have a chance to run in this automated scenario -- despite the commit being signed-off and GPG-signed (and thus fully

[2022-09-02 19:29] vdice commented on #736
Since we're currently blocked by two branch protections that we're not willing to disable (DCO bot and approving reviewer), we could potentially revise our strategy and instead of having CI attempt to merge straight to main with the updates, it creates a PR instead.  We lose automation of the final templates tag push -- well, maybe there's a way to add it in a different place, perhaps monitoring f

[2022-09-02 21:31] dicej commented on #504
@bacongobbler I'm going through some old issues and found this.  Has this been addressed yet, or does it still need attention?

[2022-09-02 21:40] dicej commented on #713
Closing this since #717 has been merged.  Thanks, @sealmove!

[2022-09-02 21:40] #713 closed

[2022-09-03 15:41] rajatjindal commented on #736
we did something similar for `krew-index` version updates. We have a bot `krew-release-bot` that opens the PR on new tag push (the bot account had signed the dco) and then another bot to verify if it is just a version update and auto-approve and merge.

one such sample pr is here: https://github.com/kubernetes-sigs/krew-index/pull/2562

[2022-09-05 01:48] itowlson commented on #714
We could at least parse reference expressions and error if they don't point to anything.

[2022-09-06 08:35] mikkelhegn opened #739 "Using a digit as the starting character of a rust component fails to build"
[code]

[2022-09-06 20:27] itowlson commented on #739
Ah, we moved project name from being a template parameter to being on the command line, and it lost its validation at that point.  I'll have a ponder about whether to validate or munge it.

[2022-09-06 22:58] itowlson commented on #725
Had an explore of this by allowing a `rename` field with a Liquid template as its value (e.g. `rename = "{{ project-name }}.csproj"`, and that worked okay.

However, that approach doesn't extend to non-string values, or where something other than simple substitution is needed.  Consider a setting to conditionally skip a file.  You might hope that `{{ foo == "bar" }}` would do it, but it doesn't.

[2022-09-07 12:35] mikkelhegn commented on #733
This should be implemented in the installer script with this commit: https://github.com/fermyon/spin/pull/729/commits/591525bac3334d8762f2f6064ccc30074feb220e

[2022-09-07 13:06] Mec-iS opened #742 "Support gRPC services?"
Hi,

I am a maintainer at [smartcore](https://smartcorelib.org), a Machine Learning library written in Rust, we already have `wasm32` among our supported targets. I am trying to provide our interface via web services and I am now considering using Spin; for this purpose I am going to need somehow to support gRPC (I am using `prost`, see a limited [poc here](https://github.com/Mec-iS/rust-grpc-smar

[2022-09-07 20:12] #739 closed

[2022-09-07 20:37] itowlson commented on #742
Hi @Mec-iS, good to meet you and thanks for the kind words, and for the clear context.

It sounds like your main interest would be in a gRPC server (that is, a trigger).  Is that right?

How much of the gRPC feature set would you need?  I'm specifically thinking about gRPC watch operations, which typically require a long-lived connection with server state.  Today's Spin triggers operate very much

[2022-09-07 22:37] Mec-iS commented on #742
yes if you want we can work this step by step and see what can be achieved. We can consider a basic example and see which limitations we run into.

gRPC (Google Remote Procedures Calling) is an alternative client-server architectural pattern to REST, a read-write stream is opened between client and server and all data exchanges are serialised using ProtoBuffer, an highly optimized format. It is ma

[2022-09-08 02:57] fibonacci1729 commented on #725
Might be worth having a look at `cargo generate` and how they do templated file names, https://github.com/cargo-generate/cargo-generate/blob/main/src/filenames.rs

[2022-09-08 03:05] itowlson commented on #725
Thanks!  Unfortunately, the trouble I'm hitting is not how to do file names in itself; it's extending that to other behaviour overrides.  That said, it's cool to see CG doing it this way - I toyed with this idea but then decided to pursue a more extensible system - maybe I should forget trying to unify everything ever and settle for a collection of simple point solutions like this.  Great pointer

[2022-09-08 09:46] coderoflagos opened #744 "Add `build` setting to example manifest in intro docs"
In the 'Spin Manifest' section of the introduction page, I noticed the code snippet under it does not have the` [component.build] `section that shoild have the `command = "cargo build --target wasm32-wasi --release"` code  below it.

[2022-09-08 10:20] coderoflagos opened #745 "Update: Need to show how to setup Spin with Intel-Based Macs."
I also had this problem earlier on because I did not find a section that could help explain how to set up with the Intel-Based Macs release.

[2022-09-08 10:39] mikkelhegn opened #746 "Chore: Update bartholomew to latest version, with support for Spin v0.5.0"
Bartholomew was recently updated to support Spin v0.5.0. The documentation site is still using the older version of the module.

https://github.com/fermyon/bartholomew/pull/120

[2022-09-08 14:06] mikkelhegn commented on #746
My bad, I was working on an older branch, which wasn't been updated.

[2022-09-08 14:06] #746 closed

[2022-09-08 20:05] #718 closed

[2022-09-09 11:20] mikkelhegn commented on #745
@coderoflagos - could I ask you to test the script in this PR for that case? https://github.com/fermyon/spin/pull/729

That PR will also update the quickstart to make this easier.

[2022-09-09 11:25] mikkelhegn opened #752 "Add http-csharp template to the defaults"
When you run the `spin template list` command for the first time, you are guided on how to install templates from the Spin repo. This however does not include the templates from the .net sdk: https://github.com/fermyon/spin-dotnet-sdk/tree/main/templates

It would be great to have that template as part of the default set of templates, the CLI suggests

[code]

[2022-09-09 14:19] lann opened #754 "Test flake detection / report"
I've noticed a few flaky test runs recently, such as https://github.com/fermyon/spin/actions/runs/3022729589/attempts/1

It would be nice if we could track these flakes over time rather than depending on individuals to notice a trend.

It seems like it should be possible to query for runs that failed a first attempt and succeeded later without code changes. Maybe there is even an existing tool for

[2022-09-09 15:12] #736 closed

[2022-09-09 17:49] lann commented on #744
The build command isn't required, its just a convenience so you can build with `spin build`. Given the current organization of that introduction I don't think its really necessary, but arguably we could be using templates there in the intro anyway...

[2022-09-11 20:52] itowlson commented on #752
My reasoning for not doing this was that the .NET SDK is extremely early-stage at this point.  I would prefer to leave it as a separate install for now.

Longer term, we need to have a think about what templates get 'blessed' into the Spin repo vs which users can install if they're interested (this will be a consideration particularly for third-party templates and SDKs).

[2022-09-12 06:06] radu-matei commented on #752
We also want to consider moving all templates out of the Spin repository itself.

[2022-09-12 07:48] coderoflagos commented on #745
No qualms, doing that right away.

[2022-09-13 15:50] lann opened #762 "Revisit "Extending and embedding Spin" docs"
These docs are going to be out of date with the upcoming Spin core refactor. We should think about how we want to update this docs page or whether we should delete it until we have a more cohesive trigger plugin story.

[2022-09-14 21:39] mikkelhegn opened #765 "Spin canary hangs on outbound http-request"
Using a version of Spin, newer than v0.5.0 - seen in this version `spin 0.5.0 (1a45cab 2022-09-14)`, an HTTP outbound call using the Spin SDK hangs - e.g. `spin_sdk::http::send` in rust.

[2022-09-15 08:29] mikkelhegn commented on #765
@vdice @radu-matei - this is what we saw with the FW update.

[2022-09-15 15:43] lann opened #766 "Improve interrupt (ctrl-c) shutdown behavior"
I believe that currently ctrl-c will not interrupt a running Wasm instance. We should allow it to do so after a timeout and/or on a second ctrl-c interrupt.

[2022-09-17 19:42] lann opened #768 "Outboung-pg broken on `main`"
https://discord.com/channels/926888690310053918/950022897160839248/1020777696978026526

[code]

Trying to run the `rust-outbound-pg` example from the repo.

[2022-09-17 19:42] lann commented on #768
Likely fallout from switching to async

[2022-09-18 08:04] FrankYang0529 commented on #689
I would like to take this issue. May you assign it to me? Thank you!

[2022-09-19 05:22] itowlson opened #769 "Unhelpful error from `spin build` if you have an error in your TOML file"
[code]

![image](https://user-images.githubusercontent.com/865538/190953948-842f5e5c-1d44-4c1c-8aa6-a7b95ff51f89.png)

(The error is fine once you know if means `spin.toml` - it just needs that extra bit of information.)

[2022-09-19 20:37] radu-matei commented on #193
We have not had traction for this issue, closing.

[2022-09-19 20:37] #193 closed

[2022-09-19 20:37] radu-matei commented on #136
Tracking this in #724

[2022-09-19 20:37] #136 closed

[2022-09-19 20:46] radu-matei commented on #298
We haven't had traction on this request, closing for now. We can reconsider this in the future if people are interested in an SDK for AssemblyScript — note that you can still build a Wagi component in AssemblyScript.

[2022-09-19 20:46] #298 closed

[2022-09-19 21:06] lann opened #773 "Differentiate and split "integration" and "end-to-end" tests"
I'd like for us to agree on a split between integration and end-to-end tests so that we can organize them better.

My proposal:

* **Integration** tests
  * can be run from just the spin codebase with no external dependencies
  * can be executed "relatively quickly" so that they can comfortably be run as part of a normal development cycle
  * use Rust's libtest (`#[test]`)
  * may use Rust test wa

[2022-09-19 22:03] lann commented on #449
This is subsumed by #520

[2022-09-19 22:03] #449 closed

[2022-09-19 22:04] lann commented on #86
This was subsumed by SIP 005

[2022-09-19 22:04] #86 closed

[2022-09-19 22:08] lann commented on #438
This is addressed by #763

[2022-09-19 22:08] #438 closed

[2022-09-20 02:54] #768 closed

[2022-09-20 07:28] radu-matei opened #774 "End to end `spin deploy` failing on Windows"
The setup for configuring a local installation of the platform is currently failing on Windows:

https://github.com/fermyon/spin/actions/runs/3087099411/jobs/4992111875

[code]

[2022-09-20 16:54] lann commented on #520
This is pretty much subsumed by #763

[2022-09-20 17:02] #520 closed

[2022-09-20 18:58] mikkelhegn opened #775 "Ability to search the docs site"
Some of the detailed reference information for Spin is found in-line in the existing articles. It would be great to have a search feature on the docs website to search for specific terms, and not rely on the navigation pane only.

[2022-09-20 21:00] lann opened #776 "Migrate spin-outbound-pg to use `tokio-postgres`"
Now that Spin is using Wasmtime's async support, it would be good to switch the outbound PG crate to use an async library. It currently uses the `postgres` crate which is just a blocking wrapper around `tokio-postgres`, so presumably migrating to just using `tokio-postgres` would make sense.

[2022-09-21 00:05] itowlson commented on #752
Closing this one as won't do.  We can and should continue to reassess which templates are in the "suggested" repo (whichever that is) as the various integrations mature.

[2022-09-21 00:05] #752 closed

[2022-09-21 00:07] itowlson commented on #22
This issue is marked as P0 but is 8 months old.  Is it still current?  Is the feature being discussed now covered by `spin deploy`?

[2022-09-21 11:27] mikkelhegn commented on #752
Thx Ivan, do you think the next step would be to create a SIP for this?

[2022-09-21 13:46] radu-matei commented on #125
There have been several passes over the implementation of the Spin internals, and #738 should address even more.

As this is not currently an issue with Spin, I am closing this. We could re-open in the future if we identity issues here.

[2022-09-21 13:46] #125 closed

[2022-09-21 13:51] #40 closed

[2022-09-21 13:52] #373 closed

[2022-09-21 13:53] radu-matei commented on #154
Closing in favor of #773

[2022-09-21 13:53] #154 closed

[2022-09-21 20:22] itowlson commented on #752
That sounds like a good plan.  We should figure out a policy the criteria to bless:

* A Fermyon-supported template (that is, a template that we have committed to maintain)
* A third-party template to be blessed (that is, a template that we would rely on someone else to maintain) - this might be "never" of course!

[2022-09-21 20:51] itowlson commented on #769
Fixed via #778.

[2022-09-21 20:51] #769 closed

[2022-09-21 21:32] #724 closed

[2022-09-22 00:16] michelleN commented on #22
I believe so. I'm in favor of closing it.

[2022-09-22 00:17] #22 closed

[2022-09-22 00:22] #264 closed

[2022-09-22 00:46] itowlson commented on #297
I believe this is accomplished with the generation of build metadata.  Please reopen if it needs further action!

[2022-09-22 00:46] #297 closed

[2022-09-22 00:59] itowlson commented on #312
The templates do take care of it, so closing.  Please reopen if anyone feels we should publish manual instructions too!

[2022-09-22 00:59] #312 closed

[2022-09-22 01:23] itowlson commented on #278
@radu-matei Any more information of this, or is it no longer needed?

[2022-09-22 01:26] itowlson commented on #322
An initial implementation of Postgres has now landed, and there's also an implementation of MySQL in PR.  My suggestion is we close this issue, and open more specific issues for individual databases or for discussion of alternative designs.

[2022-09-22 02:06] itowlson commented on #333
We haven't really built up a corpus of common issues and their resolution (the one mentioned here has been kludged around), so I'm closing this.

[2022-09-22 02:06] #333 closed

[2022-09-22 02:08] itowlson commented on #343
@tpmccallum @mikkelhegn Is this something you'd like to see (and feel inclined to take on)?  If not, I will close.

[2022-09-22 02:32] itowlson commented on #504
@bacongobbler bumping this.  It looks from my reading of the Spin code that like the application name remains unsanitised on the client, and that the requirement is still there on the Hippo side, so I'm keeping it alive, but if you have time to comment on priority and next steps, that would be super useful.

[2022-09-22 02:38] itowlson commented on #411
Fixed via #456.

[2022-09-22 02:38] #411 closed

[2022-09-22 03:01] itowlson commented on #99
@radu-matei Do you still want this kept open?

[2022-09-22 03:24] itowlson commented on #144
Closing this as we have a way forward on it.

[2022-09-22 03:24] #144 closed

[2022-09-22 03:30] itowlson commented on #39
Removed "for entry points" from title as I envisage it being an issue for outbound interfaces too!

[2022-09-22 03:46] tpmccallum commented on #343
Thanks @itowlson
I hope I understand this "Add Badges" request.
We currently link to Twitter and GitHub from all official documentation pages (in spin.fermyon.dev area) which is probably enough for now i.e. not sure about adding YouTube etc.
In saying all of this, @mikkelhegn and I (and others) are looking into making some pretty significant changes to the docs (to provide consistency across all o

[2022-09-22 03:49] #343 closed

[2022-09-22 04:30] n-tucker opened #782 "`spin deploy` with `http-rust` template fails"
Hello,

This is an awesome project that I'm thrilled to have learnt about! So many thanks on my end for putting this together ❤️

I was running through the docs and managed to get the template app working with `spin up`. However when I try deploy to my local instance of Fermyon using `spin deploy` I get an EOF error. Below is a screenshot from creating the app to the failed deployment
![image](htt

[2022-09-22 04:39] itowlson commented on #782
Possibly silly check: have you created an account on your Fermyon instance's Hippo server, and provided the appropriate username and credential environment variables?  I'm wondering if we're incorrectly trying to parse an error response where there's no body.

[2022-09-22 10:19] etehtsea commented on #631
I couldn't reproduce it using (with and w/o `--release` flag)

spin 0.5.0 (1ce374a 2022-09-20)
grain-linux-x64 0.5.3

[2022-09-22 13:34] #776 closed

[2022-09-22 19:39] nealmcb opened #783 "Note which Rust versions are supported"
FWIW, I followed the directions for at [Taking Spin for a spin \| Spin Documentation](https://spin.fermyon.dev/quickstart) and got this error:

[code]

I checked for a Rust update:
[code]

and did a `rustup update` to upgrade. Then the build went smoothly, and it ran like a champ. [Cool!]

So I suggest adding a note to the quickstart documenting a working version of the Rust toolchain, or at least

[2022-09-22 20:03] itowlson commented on #631
Thanks @etehtsea - tried it here too, and I can't reproduce it either.  @technosophos I'm going to close this for now, but do reopen if you see it again!

[2022-09-22 20:03] #631 closed

[2022-09-23 02:09] #783 closed

[2022-09-23 04:01] itowlson commented on #744
@coderoflagos Given Lann's comments, how do you feel about this?  Happy to accept a PR if you are keen to see it, but if you're happy with Lann's reply then should we close this?  Thanks!

[2022-09-23 04:10] itowlson commented on #182
Is this still something we want to pursue?

[2022-09-23 04:13] itowlson commented on #248
Any action needed/wanted on this?  (The external repo is now public but I don't know if it's been tested with current Spin.)

[2022-09-23 07:27] #744 closed

[2022-09-23 13:26] charliermarsh commented on #782
(Just hit the same thing -- will check the suggested fix now.)

[2022-09-23 13:31] charliermarsh commented on #782
My `$HIPPO_USERNAME` and `$HIPPO_PASSWORD` are set locally and I was able to login to my Fermyon instance. Once logged in, I didn't see any apps, but clicking "Add" showed me this:

<img width="743" alt="Screen Shot 2022-09-23 at 9 29 18 AM" src="https://user-images.githubusercontent.com/1309177/191971174-6d609cf0-85b6-4c99-9dcd-7e9d2186e7c3.png">

I created a "Hello" app from my `hello-fermyon-aw

[2022-09-23 13:32] charliermarsh commented on #782
(Happy to provide any other useful details.)

[2022-09-23 16:12] vdice commented on #248
For the needs of this original issue (visibility/access to the repo), we're good.  Thanks @itowlson!

[2022-09-23 16:12] #248 closed

[2022-09-23 20:12] radu-matei commented on #44
While this is still something we want to do, we don't currently have a clear way of achieving it.

Closing for now.

[2022-09-23 20:12] #44 closed

[2022-09-23 20:12] radu-matei commented on #43
While this is still something we want to do, we don't currently have a clear way of achieving it.
Additionally, `spin.toml` no longer has `component.dependencies`, so this issue is also out of date.

Closing for now.

[2022-09-23 20:12] #43 closed

[2022-09-23 20:14] radu-matei commented on #182
This is still on my list of "nice to have", but I don't see an actual need, other than, well, "vanity".

I think it's safe to close for now; we can reopen if it becomes a need in the future.

Thanks!

[2022-09-23 20:14] #182 closed

[2022-09-23 20:16] radu-matei commented on #70
The benchmarks we have been already been publishing for a while now address this.
See https://fermyon.github.io/spin-benchmarks/criterion/reports.

[2022-09-23 20:16] #70 closed

[2022-09-23 20:18] radu-matei commented on #342
We have decided not to implement the `_routes` functionality from Wagi, as it significantly complicated routing, and it was not a widely used feature.

[2022-09-23 20:18] #342 closed

[2022-09-23 20:19] radu-matei commented on #51
ref #43 #44.

The general functionality described in this issue is still something we wish to achieve — that being said, it might be better suited for a different set of tooling.

[2022-09-23 20:19] #51 closed

[2022-09-23 20:21] radu-matei commented on #519
In the months since this was opened, we haven't really identified use cases that this would enable that either middleware or outbound HTTP wouldn't be able to address.

Closing for now, but happy to re-evaluate if we have use cases that would benefit from this.

[2022-09-23 20:21] #519 closed

[2022-09-23 20:23] radu-matei commented on #667
The outbound Redis implementation has been patched thanks to @FrankYang0529.

Updating the issue title to reflect that the PostgreSQL implementation is the one needing a patch to reuse connections.

[2022-09-23 20:23] radu-matei commented on #667
The outbound Redis implementation has been patched thanks to @FrankYang0529.

Updating the issue title to reflect that the PostgreSQL implementation is the one needing a patch to reuse connections.

[2022-09-23 20:26] radu-matei commented on #99
I think this is something we can re-open if we identify the need for it.

[2022-09-23 20:26] #99 closed

[2022-09-23 20:26] radu-matei commented on #322
Opening individual issues to track implementations makes sense to me.

Thank you all for the great suggestions!

[2022-09-23 20:26] #322 closed

[2022-09-24 16:05] raymundovr opened #789 "Broken link to WIT documentation in redis-trigger page"
Hi,
I've been reading through the documentation and noticed that the link to WIT docs from "The Spin Redis trigger" page is broken.
I presume that the link should now point to the Readme.md page.
Is that correct?

[2022-09-26 01:12] n-tucker commented on #782
Apologies for the delayed response. I checked my `$HIPPO_USERNAME` and `$HIPPO_PASSWORD` and they were both set correctly. I didn't see any extra logs when setting `RUST_LOG`

Had the exact same experience as Charlie too; I can upload my app via the Hippo UI without issues

[2022-09-26 19:45] itowlson commented on #782
@charliermarsh @n-tucker `spin deploy` is a two stage operation: first it pushes the application (manifest, code and assets) to the Bindle storage server, then notifies Hippo to create an application/endpoint that surfaces that bindle.  Your description of successfully creating the app from the Hippo UI makes me think `spin deploy` successfully created the _bindle_ - so your stuff was already in b

[2022-09-26 19:54] charliermarsh commented on #782
Yes that's right -- I didn't need to upload my Wasm module manually.

[2022-09-26 19:58] itowlson commented on #782
Thanks - I'm spinning up a test environment to see if I can reproduce the issue but this nails it down to the Hippo API stage if I can't!  I'll get back to you shortly.

[2022-09-26 23:02] itowlson commented on #782
It looks like the Hippo API is sending a login failure response which is being surfaced by the Hippo Rust library as an empty error.  The cryptic error is because we expect the error to be JSON.  Possibly some revisions are out of sync - will keep digging.

[2022-09-27 01:08] itowlson commented on #782
When trying to log in, the URL that Spin hits (`/api/auth-tokens`) that is 404ing.  So I'm guessing the client libraries are out of sync with the server...?

[2022-09-27 02:12] itowlson commented on #782
Hi @n-tucker and @charliermarsh,

What's happened is that the Hippo API changed in Hippo 0.19, and Spin was updated to that, but the installer stayed on Hippo 0.17.  So Spin was hitting an endpoint defined in the new API, which didn't exist on the old version.  And because Spin wasn't expecting a 404, it assumed any error response would contain a JSON message... so the error of trying to parse an

[2022-09-27 04:50] n-tucker commented on #782
Happy days, glad to be of assistance and thanks again for looking into this! 😄

[2022-09-27 04:50] #782 closed

[2022-09-27 21:39] itowlson opened #793 "Spurious warning "skipping duplicate package `spinhelloworld`" when using Rust SDK"
When you build Rust application that references the Rust SDK, you get a spurious warning:

[code]

Looking at the directory, it seems Cargo checks out out the _entire_ Spin repo into the Cargo cache.  So I _think_ the issue is that the repo contains several projects called `spinhelloworld`, and Cargo is looking at all of them as well as the SDK crate itself?

I don't think we used to see this, and

[2022-09-27 21:47] itowlson commented on #793
Warning doesn't happen in Rust 1.62.1 but does in 1.63.0.

[2022-10-02 16:14] mikkelhegn opened #799 "Redis triggered template for rust fails"
Using the canary build version `spin 0.5.0 (dfb3a90 2022-09-29)` and the template for redis-rust results in the following error on `spin up`:

[code]

[2022-10-02 16:36] lann commented on #799
Almost certainly fallout from the big refactor. Looks like an easy fix

[2022-10-02 19:19] etehtsea commented on #799
Should be fixed in #800.

[2022-10-02 22:26] itowlson commented on #793
Also affects programs that import Spin crates, it seems.

[2022-10-02 22:31] itowlson commented on #789
Fixed via #790 - thanks!

[2022-10-02 22:31] #789 closed

[2022-10-03 00:50] itowlson commented on #793
https://github.com/rust-lang/cargo/issues/10752

[2022-10-03 13:45] #799 closed

[2022-10-03 13:46] miketang84 opened #801 "Add redis command DEL to redis sdk rust"
Add redis command DEL to redis sdk rust, this is a common used command in nearly all cases.

[2022-10-03 23:53] itowlson opened #804 "`healthz` endpoint is not relative to HTTP base"
I deployed a test app using a spin.toml which set a non-root HTTP base:

[code]

After `spin up`, I tried to curl the health check endpoint:

[code]

Not sure if this is expected?  We can't currently have two applications on the same port so maybe it's not an issue for now...?

[2022-10-04 03:34] itowlson commented on #629
Thinking more about this... this doesn't belong on templates, but in the `[component.build]` section, so that if Alice creates an application from a template, commits it, and then Bob checks it out, Bob can still get the prerequisites info, even though Bob never sees or uses the original template.

It doesn't matter much at the tyre-kicking phase, I guess.  And of course we could run checks/print

[2022-10-04 08:07] mreferre commented on #293
Is there an update on this? I see Spin ships for linux/amd64, windows/amd64, mac/amd64, mac/arm. Looks like linux/arm is the only miss (with the big trend towards more arm in the cloud it looks like a good opportunity for Spin).

[2022-10-04 13:24] lann commented on #293
No update yet. Currently the release builds are really more geared toward development environments where ARM Linux is less common. That said, this is mostly blocked on finding a good way to actually perform the cross-arch builds in Github Actions. For some reason cross-compiling for aarch64-apple-darwin "just works" where aarch64-unknown-linux-gnu doesn't.

[2022-10-04 13:29] lann commented on #293
[code]

[2022-10-04 20:55] lann opened #806 "Bindle manifests still use camelCased keys"
Looks like this was missed back in https://github.com/fermyon/spin/pull/157 and hasn't been a problem until recent testing.

[2022-10-04 21:00] lann commented on #806
This looks promising: https://crates.io/crates/serde_alias

[2022-10-05 07:58] mreferre commented on #293
Thanks @lann. Out of curiosity I was trying to compile Spin on a Graviton instance but I ended up in a rat-hole where one of the requirements (i.e. bind) is not available on Linux/Arm either and trying to compile bindle gave me a problem etc. etc.

[2022-10-05 15:04] lann commented on #806
It turns out the only field that really matters here is `allowed_http_hosts` / `allowedHttpHosts`.

Fixing this will require updating hippo, which does expect `allowedHttpHosts`:

https://github.com/deislabs/hippo/blob/c9c09e9df6b38787e7817754ce6660bad566dc57/src/Infrastructure/Services/BindleService.cs#L63

https://github.com/deislabs/hippo/blob/627b51e1ef368349c964353e7dab591157ce9278/src/Applic

[2022-10-06 14:45] lann commented on #804
`/healthz` is a Spin health check, not an application health check. I would be in favor of moving it to a better namespaced path, like `/.spin/health`.

[2022-10-06 18:35] #619 closed

[2022-10-09 10:24] bitoceango opened #811 "spin bindle push failed"
when I push my spin to bindle ,i get a error

[code]

my bindle server toml

[code]
my bindle server start by

my spin create by

I change nothing in the spin.toml

[code]

[2022-10-09 23:00] itowlson commented on #811
If I read this correctly, you are running your Bindle server port 8000 and the command is pushing to port 8080 - is that right?  If so, is there something else running on 8080, maybe something that might be returning a JSON response?

If I'm misunderstanding and the addresses do match, could you try turning on logging (`RUST_LOG=spin=trace`), and could you also try doing a `spin bindle prepare` an

[2022-10-10 17:36] kate-goldenring commented on #733
@mikkelhegn are you saying that the script has been updated to resolve this issue since it automatically pulls latest now? If so, @tpmccallum is this issue okay to close?

[2022-10-10 17:38] mikkelhegn commented on #733
It defaults to latest and gives you options to use tagged releases including Canary.

[2022-10-10 17:44] kate-goldenring commented on #47
@radu-matei is this still of interest given that we now support redis? Are we hoping to also support a local KV store? Should we narrow the scope of this issue?

[2022-10-10 17:53] kate-goldenring commented on #50
@radu-matei is this still a `P1` issue?

[2022-10-11 03:06] itowlson opened #812 "Where in the docs should the install script direct people?"
The install script currently tells people to go to https://spin.fermyon.dev/quickstart/ "for the next steps".  The first four headings on that page tell people two different ways to install Spin plus how to build it from source - which are definitely not the next steps if you've just run the install script!

Should we link people more directly to the post-installation app creation stuff?

[2022-10-11 08:10] mikkelhegn commented on #812
We should - this heading would be the one "Creating a new Spin application from a template". Once the docs move to developer.fermyon.com we can link to that heading.

[2022-10-11 16:16] bacongobbler opened #814 "`spin deploy` should rollback any changes on a CTRL+C"
If I cancel the `spin deploy` command before it finishes, the deployment can end up in an incomplete state. The bindle may be uploaded, but no application has been created.

We should figure out a way to capture that signal and roll back any changes (if possible).

[2022-10-11 16:18] bacongobbler commented on #814
One snag here will be the fact that a bindle is immutable once uploaded. There is no way to delete it from the server. And because POST /api/apps requires the bindle ID to be present on the server, we need to upload at least one bindle ID.

[2022-10-11 17:26] mreferre opened #815 "--log-dir has disappeared"
Hi there. I am experimenting with Spin in a (very) constrained environment where the only writable folder is /tmp. I used to be able to play with Spin easily by launching it with `--log-dir /tmp` and that worked just fine. The latest Spin release seems to have dropped that flag? I was able to workaround that problem by setting the `$HOME` variable to `/tmp` (because I noticed Spin trying to create

[2022-10-12 02:26] bitoceango commented on #811
Yes， it is my mistake, thank you very much for your prompt reply

[2022-10-12 02:34] itowlson commented on #811
Great, thanks for letting us know!  I'll close the issue.

[2022-10-12 02:34] #811 closed

[2022-10-12 08:09] mreferre commented on #815
Thanks @itowlson.

How do you get that list of flags? I am using Spin 0.5.0 and this is what I see when I explore it with the `--help` flag:

[code]

I did not spend a considerable amount of time on it but I concluded what I concluded because the script I was using (which included the `--log-dir` flag didn't work anymore - as in Spin would run but would just ignore that flag) and when I explored t

[2022-10-12 11:27] miketang84 commented on #324
So wish this issue could advance.

[2022-10-13 07:26] mreferre commented on #815
Very interesting. Thanks for the engagement on this.

The environment has his quirks. In full disclosure, I am trying to run this stack in a Lambda function (hence the restrictions above - the only directory that is r/w is `/tmp`). I am baking in a container the spin binary and then I map an EFS file system (under `/mnt/wasm`) which contains the toml file and the wasm artifact. I am using the [Lam

[2022-10-13 19:28] itowlson commented on #815
Yes, the cache was introduced in a recent version of Spin.  That use of the cache path is controlled by `--disable-cache`; and I _think_ you can change the path via a cache config file specified using `--cache` (config file syntax: https://docs.wasmtime.dev/cli-cache.html).

More generally, it sounds like we should provide documentation on which directories Spin writes to.  That's not something I

[2022-10-14 17:35] mikkelhegn opened #820 "Http-go template fails"
Creating a new Spin application using the http-go template fails without any modifications to the code:

[code]

[2022-10-16 02:03] radu-matei commented on #820
Could you please share which versions for Spin and TinyGo this is?

Just validated this with Spin from canary, TinyGo 0.26, and the latest template version and it fails for me as well.

For reference, I also tested our C# template, which is built on top of the same C interop, and that one works well.

cc @adamreese

[2022-10-16 05:32] etehtsea commented on #820
As it passes on CI, it looks like there are some breaking changes between 0.22 and 0.26 - https://github.com/fermyon/spin/actions/runs/3245485308/jobs/5323079898

[2022-10-16 09:30] mikkelhegn commented on #820
I've been testing the 0.5.0 release and the canary release (from October 14th) and both fail, with both SDK, Spin runtime, and template being from the same version.

TinyGo: `tinygo version 0.26.0 darwin/amd64 (using go version go1.19.2 and LLVM version 14.0.0)`

[2022-10-16 19:20] itowlson commented on #815
Thanks for the update.  I'm wondering if the R/O error could have anything to do with file mounts (assets or transient writes from the guest code).  But if you're okay with your workaround I'll defer any further investigation until things are quieter...!

[2022-10-17 11:41] etehtsea commented on #820
I did a little research about it - it works fine up to 0.25.0 (incl).
Also, I've figured out the commit that is causing the issue - https://github.com/tinygo-org/tinygo/commit/03d1c44265e1f628b2730b9c214db2390a745ee6
Reverting it from the tinygo's dev branch make tests (`make test-sdk-go`) to pass again (so as `http-tinygo` example).

[2022-10-17 13:38] lann opened #822 "`install.sh` installation location"
Currently this installs to whatever directory I happen to be in, which is a little surprising.

I'm actually not sure what the best alternative is here. Heroku's equivalent `install.sh` requires `sudo` and installs to `/usr/local/bin`, bailing out if that dir isn't in `PATH`.

[2022-10-17 13:39] lann commented on #822
@mikkelhegn

[2022-10-17 13:45] mikkelhegn commented on #822
I feel that myself :-)

I think we should do the following:
1. Default to / suggest to use `/usr/local/bin`, as this will solve putting it in `PATH`, and the user will have to go figure that out. Like the Heroku script.
2. Give an option to use the current dir. I've found that useful if I quickly need to try something with canary or a specific version, but overwriting my default Spin in `usr/local

[2022-10-17 13:45] mikkelhegn commented on #822
#641

[2022-10-18 22:05] radu-matei commented on #820
Validated that TinyGo v0.25 works.
Thanks for investigating this!

[2022-10-19 13:28] mreferre commented on #815
Good (excellent) question. I am traveling this week and I can't spend time on this but I have looked at the EFS configuration and, from what I am seeing (to be confirmed), the mount of the 6 months old setup that works is R/W while the mount I am using for the current setup is R/O. This has nuances because `root` can have R/W on the new setup (but anyone else doesn't). The fact that when I set the

[2022-10-19 20:23] bacongobbler opened #838 "`spin up`: No such file or directory (os error 2)"
I am trying to run the finicky-whiskers app with `spin up`, but I am hitting a missing file/directory error. The question I ask when using the command is - what file or directory am I missing? Can we improve the error message to tell the user what's missing?

[code]

I think this is because the directory is missing the `session` component:

[code]

[code]

But I had to look at spin.toml to figure

[2022-10-21 19:53] #838 closed

[2022-10-21 21:27] ofw5rz commented on #21
- [ ] - > This issue tracks updated them to use streams and asynchronous functions once they are implemented upstream.

@

[2022-10-21 22:23] vdice opened #848 "Release Process doc no longer in this repo"
We rely on the release process doc for a checklist of steps during releases.  Can the doc be re-added to this repo?

[2022-10-21 22:42] #848 closed

[2022-10-21 23:12] vdice opened #850 "spin login when cloud API returns non-200 status code"
`spin login` when using the first 'Sign in with GitHub option' appears to return/print the page contents even when the response code is not 200 (I imagine this is fine for 2xx and perhaps redirects?)

I'd expect it _not_ to print the page contents when the intended url returns any other status code, and that it print some generic error message, etc.

For example:

[code]

Or, a more decorated erro

[2022-10-22 14:30] karthik2804 opened #852 "Missing `Contributing.md` file"
The file that guides users on how to contribute to this repository is missing.

[2022-10-22 15:39] mikkelhegn commented on #852
There is a contributing.md file in the root, which directs to https://spin.fermyon.dev/contributing/, which redirects to https://developer.fermyon.com/spin/contributing

[2022-10-23 08:09] Joera opened #854 "multipart/form-data in outbound http request body"
Hi i would like to make an outbound http request that requires body to be multipart/form-data, specifically: [https://docs.ipfs.tech/reference/kubo/rpc/#api-v0-dag-put](https://docs.ipfs.tech/reference/kubo/rpc/#api-v0-dag-put)

Any ideas how i would go about doing this?

Thanks, Joera

[2022-10-23 19:09] itowlson commented on #854
You'd need to use your language's facilities to build a suitable request body.  What language are you writing in?  If it's one we know we may be able to offer pointers (if not you could try our Discord at https://discord.gg/AAFNfS7NGf).

[2022-10-24 07:03] Joera commented on #854
Thanks, i'll teleport to discord.

[2022-10-24 07:07] #854 closed

[2022-10-25 11:27] mikkelhegn opened #858 "Cannot run install script - `curl https://spin.fermyon.dev/downloads/install.sh | bash`"
`curl https://spin.fermyon.dev/downloads/install.sh | bash` doesn't work.

The install script has been moved to `https://developer.fermyon.com/downloads/install.sh`. We recommend you user the `--location / -L` flag for curl to ensure it follows any redirects.

Both of the following commands will work:
`curl -L https://spin.fermyon.dev/downloads/install.sh | bash` or
`curl -L https://developer.ferm

[2022-10-25 11:37] mikkelhegn commented on #852
@karthik2804 - do you want to propose a change to the above?

[2022-10-25 11:45] mikkelhegn commented on #812
That page (https://spin.fermyon.dev/quickstart/) has now been updated so it only has one reference to install, then moves to using templates, creating an application, etc.

[2022-10-25 13:42] lann commented on #820
Removing `-no-debug` from the `tinygo` build command and running spin with `WASMTIME_BACKTRACE_DETAILS=1` gives more detail:

[code]

[2022-10-25 19:00] vdice opened #859 "UX: Improve error message when app needs to be built"
When a user attempts to `spin deploy` an application that has not been built, they may be greeted with something like the following:

[code]

As of https://github.com/fermyon/spin/pull/855 we are now printing the full (low-level) error message, but this information still doesn't educate the user as to the remedy.  I propose we print a suggestion to `spin build` the application before trying again,

[2022-10-25 19:12] raymundovr commented on #859
Hi @vdice can I work on this one?

[2022-10-25 19:25] vdice commented on #859
@raymundovr certainly!  I must admit I haven't yet looked at the code -- but if we can check the error and match it with the type above, I'd think we'd be good to print a user-friendly message around needing to build the application first.  Otherwise, if the error isn't a match, we should print the full/raw error message.

[2022-10-25 19:35] raymundovr commented on #859
The aforementioned worflow prints a different error for me:
[code]

[2022-10-25 19:37] raymundovr commented on #859
Seeing the comment from @etehtsea it might be necessary to wait for this confirmation @vdice

[2022-10-25 19:53] etehtsea commented on #859
Is you `spin` binary up-to-date?
I've checked again and my experience seems to be consistent:

[code]

[2022-10-25 20:00] raymundovr commented on #859
@etehtsea yes, it is. That's weird...
[code]

[code]

[2022-10-25 21:09] #801 closed

[2022-10-25 21:23] lann commented on #820
Finally getting back to this... The backtrace appears to point at the indexing operation here:
[code]

Suggesting that the panic could be caused by `buf` having size zero, which could possibly happen if `realloc` was called with size 0.

[2022-10-25 21:39] vdice commented on #812
With https://github.com/fermyon/spin/issues/812#issuecomment-1290418677 in mind (and anticipating the install script fix in https://github.com/fermyon/developer/pull/173, is this eligible to close?

[2022-10-25 21:40] #603 closed

[2022-10-25 21:42] vdice commented on #369
I'm seeing both of the requested items being met when I nav to the aforementioned URL.  Can you confirm @radu-matei ?

[2022-10-25 21:46] lann commented on #820
This makes sense with the patch identified in https://github.com/fermyon/spin/issues/820#issuecomment-1280726355, which changed the underlying `realloc` implementation. I'm testing a patch to tinygo.

[2022-10-25 21:56] vdice commented on #859
Thanks for relaying initial investigation and thoughts @etehtsea.  I'd endorse this approach.

@raymundovr hmmm, I've yet to repro the output shown above.  Perhaps try from a fresh clone or removing the entire `target` sub-dir?  Or can try with the `spin new <example name> <app name>` flow as mentioned in the original description above.

[2022-10-25 21:57] mikkelhegn commented on #812
I think it is. Will go ahead and close.

[2022-10-25 21:57] #812 closed

[2022-10-25 22:23] vdice commented on #348
Closing this one as no longer relevant; thank you!

[2022-10-25 22:23] #348 closed

[2022-10-25 22:31] vdice commented on #334
Moving this to the [fermyon/developer repo](https://github.com/fermyon/developer), where Spin docs have since migrated to.

[2022-10-25 22:43] vdice commented on #222
@fibonacci1729 I don't suppose this is still in progress?  I see you are currently assigned here.  Feel free to move to another column for the project board as you see fit.

[2022-10-25 22:56] vdice commented on #215
Although the majority Spin's docs have migrated to https://github.com/fermyon/developer, I'm assuming the emphasis here was more on testing Spin itself in CI.  Technically the docs website is still a fully-functioning Spin app, if only with many redirects.  Adding to the backlog.

[2022-10-25 23:03] vdice commented on #708
I've moved this from Investigating to the Backlog in an attempt to bump the priority a bit.  Looks like we're still using the `ubuntu-18.04` image in our [release.yml](https://github.com/fermyon/spin/blob/main/.github/workflows/release.yml#L17) and it looks like the target date for dropping support is 4/1/23.

[2022-10-25 23:08] vdice commented on #567
@itowlson we now have automation for [pushing the templates tag](https://github.com/fermyon/spin/blob/main/.github/workflows/release.yml#L276) on each release (see also https://github.com/fermyon/spin/blob/main/docs/content/release-process.md).  Does this cover the intention of the original issue?

[2022-10-25 23:17] vdice commented on #672
It sounds like we've converged on https://github.com/fermyon/spin/issues/672#issuecomment-1216103487 as being the approved fix here?  Shall we move into the Backlog?

[2022-10-26 04:35] fibonacci1729 commented on #222
Thanks @vdice. This needs some design consideration that we aren't currently investing at the time. I think it's safe to table this for now.

[2022-10-26 05:03] raymundovr commented on #859
@vdice I've tried already with the binary and just tried again with the build from source without success.

Given my unability to reproduce (very weird) and @etehtsea clarity I have unassigned myself.

[2022-10-26 18:00] vdice commented on #858
Closed by https://github.com/fermyon/developer/pull/173

[2022-10-26 18:00] #858 closed

[2022-10-26 22:03] vdice commented on #745
Shall we close this issue now that we have [an install script](https://developer.fermyon.com/spin/install#installing-spin)?

[2022-10-26 22:17] vdice commented on #500
@bacongobbler as of spin v0.6.0, `spin login` appears to prompt for missing creds (when login type is un/pw) and it appears there is some form of host persistence, albiet of the login token (arguably better than storing creds) -- for instance, on my machine, I see config placed in `~/Library/Application Support/fermyon/config.json`.

With this in mind, do we want to either close this issue, re-wor

[2022-10-26 22:23] vdice commented on #775
I believe we can close this one out now that Spin docs are hosted at https://developer.fermyon.com/, which has search courtesy @karthik2804 🎉 .  If so, I'll let @karthik2804 or @mikkelhegn do the honors 😄

[2022-10-26 22:24] vdice commented on #762
Transferring to [fermyon/developer](https://github.com/fermyon/developer) which now hosts Spin docs.

[2022-10-26 22:28] bacongobbler commented on #500
Good catch! Yes, this can be closed.

[2022-10-26 22:28] #500 closed

[2022-10-27 12:55] karthik2804 commented on #852
That solves the issue.

[2022-10-27 12:55] #852 closed

[2022-10-27 13:58] waveywaves commented on #650
/assign

[2022-10-27 14:06] lann commented on #650
Maybe. I think the main point is that it's odd for the version to include 0.4 _after_ 0.4 is released. It may be that we actually need to update our release process

[2022-10-27 14:36] lann opened #863 "Consider bumping version as final step in release process"
Per #650 we would like to make it obvious that a binary compiled from e.g. `main` is newer than the latest release. One way to do that would be to bump the version after a release. We could bump either the patch version (e.g. 0.6.0 -> 0.6.1) and expect to not necessarily release that version or the minor version (0.6.0 -> 0.7.0) and go backwards if we need to do a patch release.

[2022-10-27 14:58] waveywaves commented on #863
+1 for this method because in case of a release where this version is overlooked by mistake, the re-release can be done to the next minor or major version.

[2022-10-27 15:04] etehtsea commented on #863
Also, what is a versioning policy for crates?

[code]

Should they be bumped together with the spin? Currently, most of them are still at 0.2.0.

[2022-10-27 15:09] etehtsea commented on #863
Also, what is a versioning policy for crates?

[code]

Should they be bumped together with the spin?

[2022-10-27 16:21] FrankYang0529 commented on #850
Looks like we return error content here.
https://github.com/fermyon/spin/blob/f94e397a7c5f83a753e3333ec3d9eed2a440261a/crates/cloud/src/client.rs#L289

We can get [this content in `format_response_err`](https://github.com/fermyon/cloud-openapi/blob/350f67d7abf3cab9da83a44ba93ff5bfc2ad8b29/clients/rust/src/apis/mod.rs#L5-L9). Do you prefer to return the error status code?

[2022-10-27 17:57] vdice commented on #850
Thanks @FrankYang0529.  Yes, I think it might be wiser to print the status code instead and perhaps include some generic "failed to login to the server" message.  WDYT?

[2022-10-27 21:57] #793 closed

[2022-10-28 13:16] #775 closed

[2022-10-28 13:16] #745 closed

[2022-10-29 16:25] FrankYang0529 commented on #367
I tried tarpaulin on Ubuntu 22.04. My command is `cargo tarpaulin -v --skip-clean -t 600 --out html` and it uses `Ptrace` engine to track the coverage. The coverage result is 24.47%. I will add it to the CI flow with codecov.io.

GitHub can't upload HTML files, so I add the extension `.txt`.
[tarpaulin-report.html.txt](https://github.com/fermyon/spin/files/9894122/tarpaulin-report.html.txt)

[2022-11-01 16:20] vdice commented on #708
@FrankYang0529 thanks for investigating and testing out the udpate to 22.04!  I think what we need to check here is that the spin artifact built from the updated pipeline runs as intended on each platform.

[2022-11-01 16:43] vdice opened #869 "CI: Runner disk usage"
With the growing list of test dependencies, it appears we're running into the default 14GB disk size limit of the default GH runner.

Ref https://github.com/fermyon/spin/pull/798#issuecomment-1298440711

One initial question: Are we getting bit by our use of the rust cache?  Are we able to clear it?  Even with the growing list of dependencies for e2e testing (bindle, hippo, soon Vault), I wouldn't

[2022-11-01 18:00] lann commented on #708
I don't know of anything blocking an upgrade now.

[2022-11-02 15:13] FrankYang0529 commented on #708
I tested spin with ubuntu 22.04 on EC2 and it looks fine, so I create a PR for it.

[code]

[2022-11-02 15:21] vdice opened #872 "CI: Add runtime config provider tests to e2e"
Add the runtime config provider tests (currently run via a separate Makefile task) to the main e2e test task, so that it is run in CI.

A follow-up from https://github.com/fermyon/spin/pull/798; may be blocked by https://github.com/fermyon/spin/issues/869

[2022-11-02 15:55] lann commented on #708
Our main concern is with older systems running release artifacts. Iirc there may have been a glibc issue at one point in addition to the openssl issue.

[2022-11-02 15:57] lann commented on #708
https://github.com/fermyon/spin/issues/168

[2022-11-02 19:19] etehtsea commented on #859
I'm working on this one

[2022-11-02 20:43] lann opened #873 "Plan for Spin Wasm interface migrations"
We know we will be migrating from the pre-component wit-bindgen ABI to the component canonical ABI "soonish". We expect to later make various breaking changes to trigger and host component interfaces, especially as new Wasm features stabilize (resources, async, streams, future WASI versions, etc).

[2022-11-02 20:49] lann commented on #873
Initial thoughts:

- For the ABI change, support both ABIs for "a while", issuing deprecation warnings in Spin for a release or two before removing the old ABI. If we can figure out a reasonable way to wrap the new ABI in an adapter component, great.
- For future interface changes, write an adapter component for each breaking change and have Spin (`spin build`? `up`?) wrap old components with thos

[2022-11-02 23:26] CHCP opened #874 "Deploy a http outbound application on Fermyon cloud, return "error code 1005""
Hi there,
   Fermyon cloud is a great WASM application, I would like to test and use it.

  I created a http outbound application from template and example, it is works well on my local laptop,
but there is an "error code: 1005" when I deploy this to Fermyon cloud an invoke the url.

 Http outbound is not support by Fermyon cloud yet? Thank you.

The spin.toml:
[code]

The http outbound code:
[cod

[2022-11-03 00:34] vdice commented on #874
Hi @CHCP, glad to hear you're testing out Spin and Fermyon Cloud and thanks for filing this issue.

The app is actually running successfully (as you've seen/confirmed when running locally) and it looks like the `https://some-random-api.ml` host is returning this error code/message when requests originate from the `fermyon.app` domain.  I have a feeling we've maxed out their inbound request limit p

[2022-11-03 03:06] CHCP commented on #874
Hi @vdice
Thanks for your help, it is works now.

[2022-11-03 03:06] #874 closed

[2022-11-03 12:32] #661 closed

[2022-11-03 16:32] vdice opened #877 "Update http-outbound example hosts/endpoints"
Ref https://github.com/fermyon/spin/issues/874

Requests to the `https://some-random-api.ml` host appear to be met with a `error code 1005` response when originating from the `fermyon.app` domain -- meaning any/all apps using these examples when deployed on Fermyon Cloud will receive this response.  It isn't currently known if this is a temporary rate limit or longer-term.

I'd suggest we update t

[2022-11-03 16:57] lann commented on #708
It looks like this was pushed back to April, which matches the 18.04 end of support. I think we can put this off until close to then and then update to 20.04.

[2022-11-03 18:25] lann opened #878 "Fix new clippy lints"
https://github.com/fermyon/spin/actions/runs/3387647612/jobs/5628660658

[2022-11-03 19:11] #878 closed

[2022-11-04 15:53] #672 closed

[2022-11-04 20:13] #850 closed

[2022-11-05 06:32] rts-gordon opened #880 "Build from http-go template, return errors "undeclared name: get""
Hi there,
I am testing golang wasm for Fermyon Cloud, but get some compile errors, can you please to take a look at this. Thanks a lot.

Environment:
Windows 10, Golang 1.18, Tinygo 0.25.0, Binaryen: 110

Spin new from http-go template, did not modify any code, run spin build:
[code]

[2022-11-06 14:59] etehtsea commented on #859
Accidentally, I reproduced this one. It was happening before 2871413eb1ccf14d69aa08b532f0445b9e4f3f6b landed to master.

[2022-11-06 18:39] mreferre commented on #815
I was eventually able to test this and I can confirm that with full R/W access to the EFS shared folder, the combination of `--log-dir` as well as `--disable-cache` did the trick and the Lambda function works ***without*** the need to set the HOME variable to /tmp.

I have implemented this exercise in this repository: https://github.com/mreferre/spin-wasm-multi-compute

The commit that I used to t

[2022-11-06 18:39] #815 closed

[2022-11-06 20:52] itowlson commented on #880
Thanks for letting us know about this.  I just tried it on my Windows machine and it built and ran successfully.  My versions look the same as yours so I'm not sure what the difference could be.  The functions it's reporting as 'undeclared' are defined in the `http/outbound_internals.go` file within the Spin Go SDK, and Go is clearly finding the SDK all right.  There is some C interop happening wi

[2022-11-06 22:32] itowlson commented on #873
For future interface changes, I was wondering about the practicality of versioning the interfaces e.g. `redis-1.0`, `redis-2.0`, etc., which would provide some explicitness and provide for meaningful detection and diagnostics.  I'm particularly thinking about Wasm components built against old interfaces and deployed to Cloud: we'd like them to get something like "Fermyon Cloud no longer supports `

[2022-11-06 23:32] itowlson opened #881 "`spin deploy` with expired token switches you to production cloud"
I was logged into a test environment but my token had expired.  I did a `spin deploy` which prompted me to log in.  But it tried to log me into Fermyon Cloud rather than my test environment.  This is unexpected and non-obvious.

This would likely affects only internal Fermyon users at the moment.

[2022-11-07 02:32] itowlson opened #882 "Unclear deployment error if at Cloud free tier limit"
I had 5 applications in the Cloud and tried to deploy a new one.  I got the following:

[code]

(Note: this was with Fermyon's internal build of Cloud HEAD so might include some changes not yet in production cloud.)

The message should say something like "Can't deploy application because you've reached the free tier limit" (exact wording up for grabs of course).

[2022-11-07 03:35] itowlson commented on #882
The body of the response from the cloud is:

[code]

(The `type` link is the RFC entry on the 403 status code.)

But Spin, in `format_response_error`, attempts to deserialise that into a `ValidationExceptionMessage` which looks like:

[code]

This fails and so Spin falls back to printing the status code.

As `format_response_error` still needs to handle the possibility of validation failure, we ne

[2022-11-07 09:16] etehtsea commented on #859
I've figured it out. It depends on the config you use. If spin is configured with a bindle server and not the cloud, it fails inside `compute_buildinfo` with the error above.

[2022-11-07 15:10] lann commented on #873
I don't know that it has been formalized anywhere but my understanding is that breaking changes would at least conventionally involve a change to the interface name. @fibonacci1729 @dicej

[2022-11-07 19:23] #882 closed

[2022-11-07 20:35] adamreese commented on #880
Will it build after running `go get github.com/fermyon/spin/sdk/go`?

[2022-11-07 22:18] itowlson commented on #863
When we looked at template versioning we envisaged bumping the minor version because that's what templates match on - it would make the fall forward for canary builds work correctly (currently if we make a breaking change to templates on `main` it will still fall backwards to the tagged version).  Template matching doesn't consider the patch version so as to avoid churn in external repos.

[2022-11-08 09:45] pannous opened #886 "Default `spin new go` project fails to run"
trying to run an unmodified `spin new go` project

on MacOS 13.0

[code]

[code]

upon opening http://127.0.0.1:3000

[2022-11-08 11:41] CHCP commented on #880
Hi @adamreese
  Yes, I have download go sdk for fermyon via "go get github.com/fermyon/spin/sdk/go", but there are still the same errors.

  Thanks for your attention.

[2022-11-09 07:28] etehtsea commented on #667
This one can be closed I think.

[2022-11-10 19:51] #667 closed

[2022-11-10 22:37] lann commented on #873
I've been looking at how best to support the "old" ABI. The least-bad option at this point seems to be to fork wit-bindgen at tag v0.2.0 and update wasmtime there. Assuming that works out in the short term I think we can stick with that strategy until/unless it becomes a maintenance burden at which point we can reevaluate.

[2022-11-10 22:53] dicej commented on #873
BTW, we discussed component interface versioning recently with Luke and others, and there was consensus that we'll want more than just a naming convention, and that each interface the component imports or exports should be explicitly versioned.  The details of how that is represented in the tooling (e.g. inside the WIT files themselves vs. in metadata elsewhere) are yet to be determined, however.

[2022-11-10 23:02] #393 closed

[2022-11-11 14:12] mikkelhegn opened #897 "Outbound connectivity to databases is allow-all by default"
The rust, go and .net SDKs support outbound connections to Redis and Postgres (not go).

Unlike outbound http connections, these are allow-all by default, e.g. you can call any host from the component using this feature.

We should stick to deny-all and implement the functionality similar to http-outbound, where the configuration need to specify which hosts you're allowed to call.

[2022-11-13 20:48] itowlson commented on #897
We need to define how this is going to work though.  The set of allowed HTTP hosts is currently fixed in the `spin.toml` file.  For databases, we want the allowed databases to resolve based on the environment/channel - a production deployment will want access to the production database but a test deployment should have access only to the test database.

This may be moot right now when we don't hav

[2022-11-14 19:41] itowlson commented on #869
This is becoming urgent - PRs are blocking on CI runs that are failing due to out of space.

Is there a short-term fix we can get in place?  E.g. could we pay $$ for a month and buy some time to reorganise/refine?  Or is the cost prohibitive/would it require significant setup?

[2022-11-14 21:22] itowlson opened #900 "Add component to existing application"
One of the original goals for templates was to be able to add new components to existing applications.  For example:

[code]

The user experience should be similar to `spin new`: the difference is that the new component manifest should be added to the existing `spin.toml`, instead of a new `spin.toml` being created.

Note this creates the constraint that new components must have the same trigger a

[2022-11-14 21:32] vdice commented on #869
I've cleaned up the saved caches (ranging from 1.5-2.5GB), any one of which may have been mounted into the build agent.  Let's see if builds can make further progress.

As a potential next step, what do we think about breaking up the current do-all build.yml into more workflows?  Each workflow we break out means a new runner host to spread the disk usage load.  I could see having a single compile/

[2022-11-14 23:41] itowlson commented on #869
Nice one @vdice - things looking back on track!  Thanks!

Do you have a sense for how long this buys us - e.g. days, weeks, months?

[2022-11-14 23:45] vdice commented on #869
Yay!

Alas, I don't... and I see that we've already gone over the cache max with the recent CI (re-)runs 😄.  We can view a list here: https://github.com/fermyon/spin/actions/caches

It doesn't look like GitHub automagically deletes caches for PR merge branches once the PR itself is merged; so to clear up space, we'd need to manually delete those.

I'm still unclear on the interaction between the c

[2022-11-15 01:21] rajatjindal commented on #869
Note: following numbers were captured when running the action with ubuntu only on a fork in my user account.

| Step   | Disk space remaining after step |
| ------------- | ------------- |
|Determining the checkout info | 30G |
|Run actions-rs/toolchain@v1  | 30G |
|Run rustup target add wasm32-wasi  | 30G |
|Run engineerd/configurator@v0.0.8  | 30G |
|Run engineerd/configurator@v0.0.8  | 30G |
|R

[2022-11-15 05:01] mikesir87 opened #901 "Add support for `linux/arm64` releases"
I'm working on creating a Docker container that can use spin to development, but wanting to leverage native architectures as much as possible. On Macs with Docker Desktop, we can leverage both `linux/amd64` and `linux/arm64`. You're building `linux/amd64` as part of your releases, but it would be great to have `linux/arm64` support as well to prevent qemu emulation. Thanks!

[2022-11-15 21:59] itowlson commented on #869
Whomping us again already!

[2022-11-15 22:59] vdice commented on #869
I've deleted all caches again.  Please retry failed workflows.

If that helps yet again, I suggest we temporarily remove [our use of these caches](https://github.com/fermyon/spin/blob/main/.github/workflows/build.yml#L109) until we have cycles to work on some of the items mentioned in https://github.com/fermyon/spin/issues/869#issuecomment-1314628123

[2022-11-16 04:02] itowlson commented on #869
Something is blocking integration tests and I'm not sure if it's this or something else, because the symptom is timing out waiting for Spin to start serving.  It works locally but it does seem reasonably consistent about the point at which it fails.  I don't think it's anything in my PR because that doesn't touch the integration tests (and the integration tests shouldn't be affected by changes to

[2022-11-16 04:08] etehtsea commented on #869
@itowlson I’m also getting this sporadic ci failure on macos in my PRs.

[2022-11-16 08:45] rajatjindal commented on #869
i did more analysis on this and tried removing `target` directory after the `cargo` steps

| command | Time taken if target dir was cleaned before command | Time taken if target is retained |
|-- | -- | --|
| Cargo clippy | ~360s | 700s |
| Cargo build | ~660s | 520s |
| Make test unit | ~920s | 614s |

so approx 10 mins longer.

we can possibly go ahead with this (to unblock the PR's) and continu

[2022-11-16 21:09] itowlson commented on #869
I had a chat with @radu-matei about this, and we propose to bypass the caching and do fully clean builds every time (not sure if this is the same as your suggestion @rajatjindal).  Builds will be a lot slower but hopefully more reliable.  Then we can take stock and look at longer-term optimisation (it sounds like @endocrimes has some ideas on this).

@vdice I don't know how to do this - is it some

[2022-11-16 22:16] vdice commented on #869
I'm afraid disabling the cache step doesn't help -- or at least does not avoid the behavior: https://github.com/fermyon/spin/actions/runs/3483294334/jobs/5826621776

[2022-11-16 23:27] itowlson opened #907 "Integration test for loading components from Web"
#890 added a feature for loading Wasm modules from Web URLs.  Unfortunately, the integration test for this proved flaky, and had to be reverted in #906.  We need to a new integration test for the feature, and it needs to not fall over...

[2022-11-17 02:00] itowlson opened #909 "Progress indicator when Wasm modules take a long time to load"
The old engine module used to have a 'sloth warning'  so that people didn't have a blank screen when modules took a long time to load (particularly an issue in debug builds).  It would be good to bring this back, though better placed in `spin up`  (if that gives us enough visibility).

[2022-11-17 03:38] VenkateshSrini opened #910 "PolyGlot- Enable capability to write external triggers in C# and .NET core and many other languages"
Hi,

This feature is for allowing to create triggers in other languages like C# or Java. As of today, I see the triggers can all be built only using the RUST language. I also understand that Triggers can be any microservice. The one reason why only RUST can be used is that the triggers are doing a call-back to the Spin code that is RUST. I saw the code in [main. rs](https://github.com/fermyon/spin

[2022-11-17 06:23] #859 closed

[2022-11-17 15:39] VenkateshSrini commented on #910
@itowlson ,

I do not have knowledge on Rust. I'm basically from C# and .NET core background. I want to build the trigger in .NET core and if you could share the proto file of the external process that can is launched by `ExternalTrigggerExecutor`, then I would make a call to that gRpc server and launch the spin SDK process. At present I'm unable to make much details out of `craters/redis` as that

[2022-11-17 17:25] vdice commented on #869
https://github.com/fermyon/spin/pull/904 brings a much-needed refactor which should greatly help avoid the issues seen here, now that good chunks of work have been split out into separate runners for a given workflow.  Big thanks to @endocrimes for the improvements 🎉

There may be refinements in this area we still wish to make, eg to improve build times, etc., but I'll close this one as completed.

[2022-11-17 17:25] #869 closed

[2022-11-17 19:31] itowlson commented on #910
To be clear, `ExternalTriggerExecutor` doesn't exist.  So I can't give you a .proto file or share a sample.  At the moment I'm just thinking out loud about how Spin could support what you want to do.

And I'm still wondering about whether we can do all this in one process, e.g. using a C-style interface rather than a remote one (a la P/Invoke), because the performance impact of marshalling large m

[2022-11-18 04:11] VenkateshSrini commented on #910
@itowlson ,
I got your point on `ExternalTriggerExecutor`. At this point, I'm also in the same state of discussing my thoughts and jogging it down in a feature request. When someday when you build your backlogs these can be very useful items to create features and stories. Based on an ask from an external community you can then prioritize.

Now to the question of whether it should be a Platform In

[2022-11-18 04:21] itowlson commented on #910
Yes, in this case the event would just be the URI, which would be quick to transmit.

I've been having a play with this to explore the issues (like I said, this isn't really on our radar as a feature, but it's something I'm enjoying thinking about).  I think I'm close to a limited demo, but I see at least one remaining major obstacle and that is what the interface to the Wasm module should look li

[2022-11-18 05:38] VenkateshSrini commented on #910
@itowlson ,

The architecture that I suggested is inspired by Azure Event Grid. So, that is also a proven model. Now when discussing of the interface, the means of communication between Trigger and WASM engine will be gRPC. When we talk about the interface between the spin engine and the WASM module then I suggest we use CloudEvents (https://cloudevents.io/). That way WASM module just serializes t

[2022-11-20 19:00] itowlson commented on #910
Hmm, at that point, why not just bake a CloudEvents trigger into Spin?  Then the external program is just an adapter from the desired source to CloudEvents, and is decoupled from the Spin runtime (for example allowing it to run as a daemon).

[2022-11-20 21:50] #909 closed

[2022-11-21 01:35] VenkateshSrini commented on #910
@itowlson  that is a good choice but we can do it later. I point out that most of such like KEDA and Dapr have now opened it up to gRPC to call back into their respective internal API to perform either scaling or state persistence. We should go with it ground up. Once we enable this feature even CloudEvents can be done as an external trigger. This will make the spin cli or Spin wasm edge to concen

[2022-11-21 22:13] itowlson commented on #629
I had a look at scanning the build output to detect tool setup issues (as opposed to code that just doesn't build), and it kinda works, but I can't see an easy way to have the build output stream to the terminal *and* capture it to examine the failure.  We could do it using a lower-level API, but I bet that would still end up compromised because of things like terminal-based output colouration.  S

[2022-11-22 08:03] mikkelhegn commented on #629
Would be good if part of the notes also included whether a template uses a Spin SDK or not. Mainly to help understand the level of support for said template.

[2022-11-22 19:10] itowlson commented on #629
As opposed to what - are you thinking of WAGI?

I'm not sure what the goal is here or whether it relates to "what the user needs to build the application."  Modern toolchains would usually download the SDK automatically so from that point of view I don't think we need to call it out explicitly.  But perhaps that's not the concern you're thinking about?

[2022-11-22 19:42] itowlson commented on #900
Fixed via #889

[2022-11-22 19:42] #900 closed

[2022-11-23 07:59] mikkelhegn commented on #629
The list of templates we have today is becoming a little bit of a mixed bag of things: Wasi components (I believe that's a better designation than what I used above, unless we have Wasi components not using SDKs?), WAGI components and then reference components (#898).

It would be good if e.g., `spin templates list`, `spin new` and `spin add` either categorized by these groups (sort or grouped), o

[2022-11-23 19:50] itowlson commented on #629
The language templates use the Spin or WAGI model according to whether the language supports the component model.  I don't really see value in categorising by that axis.  If I want to use Swift, I want the Swift template; if I want to use Go, I want the Go template.  The meaningful choice is language and trigger: once that's made, the architecture follows.

But it depends on how you see users usin

[2022-11-24 15:09] mikkelhegn commented on #629
What I believe we should achieve with this is when a person, who is educating themselves by exploring Spin using the CLI, will be able to easily identify what a given Spin template gives them in terms of functionality and availability in programming languages. If I'm a developer who prefers writing code in Go, I can easily identify the templates (using `spin new`, `spin add` and `spin templates li

[2022-11-25 03:41] VenkateshSrini commented on #910
Hi All,
Any other updates or thought processes you have in this regard will be very nice to share here. My suggestion would be that we will keep this simple. The second thought process is that we should keep it very generic. We should define a message standard like CloudEvents and a standard protocol (gRpc). The third thought process is that we should keep the message store a plug and play one. Ju

[2022-11-25 10:00] mikkelhegn opened #916 "`spin deploy` fails if the application name contains ` `[space]"
Examples spin.tom;

[code]

`spin build` and `spin up` works.

`spin deploy`

[code]

Related to #504

[2022-11-27 19:12] itowlson commented on #910
No further thoughts at the moment, sorry.  As I mentioned, this is not an area of focus for us right now.  We have talked about supporting (and there are issues for) both a gRPC trigger and the CloudEvents message format (initially over HTTP); and one of the envisaged use cases for the plugins feature is to support fully external triggers.  But a fully polyglot solution, with efficient messaging a

[2022-11-27 19:19] itowlson commented on #916
@bacongobbler Looking at #504 I think we wanted to tackle that issue on the server - I'm not sure whether this issue should be the same?  Probably we want to have the same validations on the client anyway, so that we can flag problems during `spin up`?  Or should we transform the name to a legal bindle ID before pushing?

[2022-11-27 21:17] itowlson opened #919 "Improve template discoverability and categorisation"
From @mikkelhegn (https://github.com/fermyon/spin/issues/629#issuecomment-1326572845):

Starting a new issue for this so we can talk about this independently of the "application build dependencies" issue.

[2022-11-27 21:26] itowlson commented on #919
A detail to consider here (as with the parent issue) is "day one vs day two."

Day one is component creation time.  A user walks up to Spin and goes "okay I want to make a Web application in Go" or "okay my application needs to serve CSS files."  This is where templates come in, and where the template UI can help via filtering and categorisation.

Day two is when the template output has scrolled o

[2022-11-27 21:39] itowlson commented on #919
Regarding template discoverability, one idea that I've been mulling is tags.

A template could be annotated with any number of tags, e.g. trigger type, language, use case.  These need not be particularly structured, though trigger and language could be.  Then the user could type `spin templates list --tag http --tag go` and see only templates with those tags.

We could go even further and allow th

[2022-11-28 00:00] itowlson commented on #919
Distinguishing a language (rather than having it as just another tag) would open the way for users to set a preferred language via an environment variable, so they only ever needed to see templates compatible with their preferred language.

(Though more generally one could imagine the environment variable as 'filter' rather than specifically 'language.')

[2022-11-28 03:32] VenkateshSrini commented on #910
@itowlson Yes, I do understand that you could move forward based on product priorities and business asks. I do not even know if this thread can be kept open till the time this is conceptualized and implemented, as, GitHub Stale bot would close it. When scheduled please let me know I would be interested in doing implementation on C# parts.

[2022-11-28 03:35] itowlson commented on #910
Yes, definitely, and if the powers that be want to close the issue I'll make sure it gets captured somewhere more suitable for discussions and longer-term ideas.  Thanks heaps for all the ideas and for taking the time to share them!

[2022-11-28 04:16] VenkateshSrini commented on #910
@itowlson thanks. It was an outcome of a few discussions with @radu-matei and @technosophos  on Twitter. There we even had a small discussion on using ROCKETS (https://rsocket.io/). But, then on further reading and exploration, I found that those implementations are slightly outdated and there are also some serialization issues. Hence I suggested a gRPC approach here.

The second point is there ar

[2022-11-28 07:45] mikkelhegn commented on #919
I think we could make a reference (a link) for each template, which will contain the explanation of e.g., the build dependencies, and I believe that would be of great help for users to have a successful experience on day one. A comparison could be made to a package manager, where every package has a small docs site (e.g. npm). This aligns well with the parent issue.

Yes, users need to be directed

[2022-11-28 07:46] mikkelhegn commented on #919
I think both of these are great suggestions, and makes it easier for developers, especially when the list of templates grows.

[2022-11-28 14:56] layeddie opened #922 "spin build error with wit-bindgen in hello-rust"
Got this error when running through the hello-rust example. Running on Mac Monterey.
Rust newbie.... not sure this is the right place to raise this....
[](https://developer.fermyon.com/spin/quickstart)

[code]

[2022-11-28 20:01] itowlson commented on #919
Definitely not mutually exclusive!

[2022-11-28 21:32] #916 closed

[2022-11-28 21:48] #473 closed